{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}

{% block head-extra %}
        <meta http-equiv="refresh" content="10;url='/'" />
{% endblock%}
{% block sidebar %}

    <!-- Do we need a cms ??? -->
    <div class="sidebar entry tooltip" item="home" id='home' xmlns="http://www.w3.org/1999/html">
        <img class="sidebar icon" alt="Back Home" id='id_home_icon' src={% static 'GarageSale/images/icons/menu/home-svgrepo-com.svg' %}>
        <label for="id_home_icon">Back Home</label>
        <span class="tooltiptext arrow right">Go Back to the top</span>
    </div>
{% endblock %}

{% block SnappableSections %}
    <div class="msg">
    <h2>Permission denied</h2>

    Sorry, but you don't have permission to do that.
    </div>
        <div>
            If this form does not automatically redirect, then click the button below.
        </div>
        <form method="GET" action="/" >
            <div class="buttons">
                <input type="submit" value="Continue">
            </div>
        </form>

{% endblock %}
