<script>
    const countDownDate = new Date('{{ time_str }}').getTime();
    const oneday = 1000 * 60 * 60 * 24;
    let myfunc;

    function set_msg() {
        const now = new Date().getTime();
        const days_left = Math.ceil((countDownDate - now) / oneday);
        let message = "";

        if (days_left > 2) {
            const weeks = Math.floor(days_left / 7);
            const days = days_left % 7;
            if (window.innerWidth > 470)
              message = "The Garage Sale is in ";
            if (weeks > 0)
                message += weeks + ((weeks>1)?" weeks ":" week");
            if (days >= 1)
                message += ((weeks>0)?" and ":"") + days + ((days>1)?" days ":" day ");
        }
        if (days_left == 1)
        {
            message = "The Garage Sale is Tomorrow";
        }
        if (days_left == 0) {
            message = "The Garage Sale is Today";
        }
        if (days_left < 0) {
            message = "The Garage Sale for this year has already happened. Watch for news on the next event";
            clearInterval(myfunc);
        }

        document.getElementById( '{{ html_id }}' ).innerHTML = message ;
    }

    myfunc = setInterval(set_msg, 1000);

</script>