{% extends "_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}


{% block Title %}
Brantham Garage Sale - Home Page
{% endblock %}

{% block PageHeading %}Brantham Garage Sale{% endblock %}

{%block body-extra %}
    {% CountdownClock 'clock'  %}
{% endblock %}

{% block ToolBar %}
<div>
    <span class="icon"><img src="{{ MEDIA_URL }}{{ request.current_event.event_logo }}" class='logo' /></span>
    <div id="clock"></div>
    <script>
        set_msg();
    </script>
    <span id="Ticker"> New Charity formed to manage the Garage Sale ......... Date for 2024 Garage Sale Announced .......... Claim your advertising billboard now .... </span>


</div>
<div class="menubar">
    <div class="wrapper browser">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'News:NewsPage' %}">News</a></li>
            <li><a href="/getInvolved">Get Involved</a></li>
            <li><a href="/blind_auction">Blind Auction</a></li>
            <li><a href="/map">The Map</a></li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="{% url 'AboutUs' %}">About Us</a></li>
            {% if perms.GarageSale.is_administrator %}
                <li><a href="{% url 'TeamPagesRoot' %}">Team</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="Buttons">
    <a href="mailto:branthamGarageSale@gmail.com"><img id=Email class="Button Animate browser" src="{% static 'GarageSale/images/icons/icons8-email-48.png' %}" ></a>
    <a href="https://www.facebook.com/BranthamGarageSale"><img id=Facebook class="Button Animate browser" src="{% static 'GarageSale/images/icons/Facebook_Logo_Secondary.png' %}"></a>
    <span id=user_management class="Button browser dropdown">
            <img id=Account class="Button Animate dropbtn" src="{% static 'user_management/images/icons/icons8-person-64.png' %}" >
                <span class="dropdown-content">
                  <ul>
                      {% User_menu  register="/register" login="/login" logoff="/logoff" profile="/getInvolved"%}
                  </ul>
                </span>
    </span>
    <span class="mobile BurgerDropDown">
        <img id=Burger class="Button Animate" src="{% static 'GarageSale/images/icons/burger.png' %}" >
        <span class="BurgerDropdown-content">
            <ul>
                <li><a href="/">Home</a></li>
                {% User_menu  register="/register" login="/login" logoff="/logoff" getinvolved="/getinvolved"%}
                <li><a href="/news">News</a></li>
                <li><a href="/getInvolved">Get Involved</a></li>
                <li><a href="/blind_auction">Blind Auction</a></li>
                <li><a href="/map">The Map</a></li>
                <li><a href="/sponsors">Our Sponsors</a></li>
                <li><a href="{% url 'AboutUs' %}">About Us</a></li>
                {% if perms.GarageSale.is_administrator %}
                    <li><a href="{% url 'TeamPagesRoot' %}">Team</a></li>
                {% endif %}
            </ul>
        </span>
    </span>
    </div>
</div>
{% endblock %}
{% block body %}
{% endblock %}
