<!DOCTYPE html>

{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'GarageSale/styles/style.css' %}">
<link rel="stylesheet" media="screen and (min-width:1141px)" href="{% static 'GarageSale/styles/largescreen.css' %}">
<link rel="stylesheet" media="screen and (max-width:1140px)" href="{% static 'GarageSale/styles/smallscreen.css' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{%static 'GarageSale/images/icons/faveicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{%static 'GarageSale/images/icons/faveicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'GarageSale/images/icons/faveicons/favicon-16x16.png' %}">
<link rel="manifest" href="{%static 'GarageSale/images/icons/faveicons/site.webmanifest' %}">

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% block additionalStyles%}
    <!--- Include any additional style sheets here -->
{% endblock %}
{% block additionalScripts %}
    <!--- Include any additional scripts here -->
{% endblock %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    {% comment %}
   {% include 'django_quill/media.html' %}
    {% endcomment %}
    <title>{% block Title %}Basic Title{% endblock %}</title>
    {% block head-extra %}{% endblock%}
</head>
<body>
{% block body-extra %}{% endblock %}
<div class="TopBar">
    <div class="ToolBar" id="ToolBar">
            <H1>{% block PageHeading %}Page Title{% endblock %}</h1>
    {% block ToolBar %}Tool Bar goes here{% endblock %}
</div>
</div>
<div class="body">
{% block body %}Body Content{% endblock%}
</div>
</body>
</html>