{% extends "_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}


{% block Title %}
Brantham Garage Sale - Home Page
{% endblock %}

{% block additionalStyles %}
<style>
    body {
        background-image: {% static "GarageSale/images/resources/map.png" %};
        background-size: auto;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    .body { height: auto; overflow: hidden}
    div#Content {
        float:left;
        width:80%;
        display:flex;
    }

    div#Container {
    }

    div.mandatory-scroll-snapping {
        display: flex;
        margin: 1em auto;
        outline: 1px dashed lightgray;
        flex: none;
        overflow: auto;
        flex-flow: column wrap;
    }

    div.y {
        width:100%;
        flex-flow: column nowrap;
        overflow-x: hidden;
        height:600px;
    }

    div.y.mandatory-scroll-snapping {
      scroll-snap-type: y mandatory;
    }

    div.mandatory-scroll-snapping > div.card {
      text-align: center;
      scroll-snap-align: center;
      background:rgba(0.5,0.5,0,0.3);
        height:100%;
        flex:none;
    }
</style>

{% endblock %}

{% block PageHeading %}Brantham Garage Sale{% endblock %}


{%block body-extra %}
    <script>
        let timeout = false; // holder for timeout id
        let delay = 250; // delay after event is "complete" to run callback
        let calls = 0;

        function resizeCards(){

/*            let content = document.getElementById('Content');
            let container = document.getElementById('Container');
            let children = document.querySelectorAll('div#Container>div.card');
            let bodyDiv = document.getElementsByClassName('body')
            let warning = document.getElementsByClassName('test_warning')
            if (warning.length != 0)
                bodyDiv[0].style.height = (document.body.clientHeight-warning[0].clientHeight).toString() + "px"

            console.log(content.clientHeight);
            container.style.height = content.clientHeight.toString()+"px"; */

          /*  for(let i=0; i< children.length; i++)
            {
                children[i].style.height=container.style.height;
            } */
        }

        addEventListener("resize", function ()  {
            // clear the timeout
            clearTimeout(timeout);
            // start timing for event "completion"
            timeout = setTimeout(resizeCards, delay);
        });

        addEventListener("DOMContentLoaded", function () {
            resizeCards();
        })

    </script>

    {% CountdownClock 'clock'  %}
{% endblock %}

{% block ToolBar %}
<div>
    <span class="icon"><img src="{{ MEDIA_URL }}{{ request.current_event.event_logo }}" class='logo' /></span>
    <div id="clock"></div>
    <script>
        set_msg();
    </script>
</div>
<div class="menubar">
    <div id="Buttons">
    <a href="mailto:branthamGarageSale@gmail.com"><img id=Email class="Button Animate browser" src="{% static 'GarageSale/images/icons/icons8-email-48.png' %}" ></a>
    <a href="https://www.facebook.com/BranthamGarageSale"><img id=Facebook class="Button Animate browser" src="{% static 'GarageSale/images/icons/Facebook_Logo_Secondary.png' %}"></a>
    <span id=user_management class="Button browser dropdown">
            <img id=Account class="Button Animate dropbtn" src="{% static 'user_management/images/icons/icons8-person-64.png' %}" >
                <span class="dropdown-content">
                  <ul>
                      {% User_menu  register="/register" login="/login" logoff="/logoff" profile="/getInvolved"%}
                  </ul>
                </span>
    </span>
    <span class="mobile BurgerDropDown">
        <img id=Burger class="Button Animate" src="{% static 'GarageSale/images/icons/burger.png' %}" >
        <span class="BurgerDropdown-content">
            <ul>
                <li><a href="/">Home</a></li>
                {% User_menu  register="/register" login="/login" logoff="/logoff" getinvolved="/getinvolved"%}
                <li><a href="/news">News</a></li>
                <li><a href="/getInvolved">Get Involved</a></li>
                <li><a href="/donate">How to Donate</a></li>
                <li><a href="/sponsors">Our Sponsors</a></li>
                <li><a href="{% url 'AboutUs' %}">About Us</a></li>
                <li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
                {% if perms.GarageSale.is_administrator %}
                    <li><a href="{% url 'TeamPagesRoot' %}">Team</a></li>
                {% endif %}
            </ul>
        </span>
    </span>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="sidebar" style="float:left;height:100%;width:20%">
        <div>
        <ul>
        {% block sidebar %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'News:NewsPage' %}">News</a></li>
            <li><a href="/getInvolved">Get Involved</a></li>
            <li><a href="/donate">How to Donate</a></li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="{% url 'AboutUs' %}">About Us</a></li>
            <li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
            {% if perms.GarageSale.is_administrator %}
                <li><a href="{% url 'TeamPagesRoot' %}">Team</a></li>
            {% endif %}
        {% endblock %}
        </ul>
    </div>

</div>
<div id="Content">
  <div id="Container" class="y mandatory-scroll-snapping" dir="ltr">
      {% block SnappableSections %}
    <div class="card">Y Mand. RTL</div>
    <div class="card">2</div>
    <div class="card">3</div>
    <div class="card">4</div>
    <div class="card">5</div>
      {% endblock %}
  </div>
</div>

{% endblock %}
