{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}
{% load newsletter_tags %}
{% load event_data_tags %}
{% load billboard_tags %}


<!-- Need to load some tags here -->

{% block additionalStyles%}
<link rel="stylesheet" href="{% static 'GarageSale/styles/getinvolved.css' %}">

{% endblock %}

{% block PageHeading %}
    {% if request.user.is_authenticated %}
        Welcome back {{request.user.first_name}}
    {% else %}
        Get Involved
    {% endif %}
{% endblock %}

{% block body %}
<div class="outer">
        <div class="row">
        <div class="widget" >
            <div class="widget-content">
                {% ApplicationWidget 'blind_auction' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="widget" >
            <div class="widget-content">
            <h3>Donate</h3>
             You can donate directly to the Garage Sale Fund using BACS from any UK bank account :

                <ul>
                    <li>Account Type : <b>Business</b></li>
                    <li>Name : <b>Brantham Garage Sale Foundation</b></li>
                    <li>Acc # : <b>26992063</b></li>
                    <li>Sort Code : <b>30 99 50</b></li>
                    {% signed_up 'sale' as signed %}
                    {% if signed %}
                    <li>Reference : <b>{% bacs_reference %}</b></li>
                    {% endif %}
                </ul>
                <div>
                {% signed_up 'sale' as signed %}
                {% if signed %}
                    Please use the reference when making donations through BACS can reconcile your donation against
                    your sale event.
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}