{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}

{% block Title %}
Brantham Garage Sale - Home Page
{% endblock %}

{# TODO - Add links on email and facebook icons - why didn't i do this before! #}


{% block PageHeading %}Brantham Garage Sale{% endblock %}

{% block body %}
    <div class="MOTD">
        {% MOTD %}
    </div>
    <div id="Font-page-news">
    <h2 id="Front-page-headline">Headlines</h2>
    {% for item in articles %}
    <div class="front-page-news">
        <div class="synopsis">
            <a class="headline" href="{% url 'News:article' item.slug %}">{{item.headline}}</a>
            {{item.synopsis }}
        </div>
        <span class="footnote"><a class="footnote" href="{% url 'News:article' item.slug %}">Read More</a></span>
    </div>
    {% endfor %}
    </div>
{% endblock %}
