{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_managementTags %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'GarageSale/styles/news.css' %}">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}


{% block body %}
    <div class="paper">
        <div class="masthead">
            <div class="title">Brantham Garage Sale News</div> <div class="date"> {% now "D dS M Y" %}</div>
        </div>
        {% for article in articles %}
            {% cycle 'row' 'not' as row_display silent%}
            {% if row_display == 'row' %}
            <div class="row">
            {% endif %}

                <div class="article column" >
                    <h2 class="headline">{{article.headline}}</h2>
                    <div class="content">
                        {{article.content.html|safe}}
                    </di>
                </div>

            {% if row_display == 'row' %}
            </div>
            {% endif %}

        {% empty %}
            <h2>No News is good New</h2>
        {% endfor %}
    </div>
{% endblock %}