{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'GarageSale/styles/news.css' %}">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}


{% block body %}
<div class="paper single">
    <div class="article">
        <h2 class="headline">{{article.headline}}</h2>
        <div class="content">
            {{article.content.html|safe}}
        </div>
    </div>
</div>
{% endblock %}