{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}

{% block Title %}
Brantham Garage Sale - Home Page
{% endblock %}

{% block PageHeading %}Brantham Garage Sale - Privacy Policy{% endblock %}

{% block body %}
<h1>Your Data</h1>
<h3>Collecting your data</h3>
In accordance with UK law the Garage Sale Foundation only keeps data necessary to complete its role. This includes your
email address, name, home address and contact phone numbers. We do not hold any financially sensitive or personally
sensitive data about you.

<h3>Storing your data</h3>
Your data on this webserver is stored securely on servers hosted in the EU. The storage is password protected and only
the staff of the Garage Sale Foundation can view your data.

<h3>Data Availability</h3>
Your data on this website is only visible to you, and members of the Garage Sale Foundation staff. The staff will only
access your data when it is necessary to fulfill the role of the charity.

<h3>Sharing your data</h3>
Your data is only shared with other organisations when that is necessary, for instance your home address and contact
details will be shared with Chamberlain Phillips for the purpose of installing the advertising boards.
<br>
Your name and address will be shared with the HMRC if you sign up to host a sale with gift-aid.
<br>
Your data will not be shared or sold to any commercial organisation.

<h1>Deleting your data</h1>
<h3>Registered Users</h3>
If you are a registered user of the website, your contact details and address will be stored for as long as your user
account exists. If you wish to delete your account please contact <a href="mailto:Trustees@BranthamGarageSale.org.uk">Trustees@BranthamGarageSale.org.uk</a>

<h3>Non Registered Users</h3>
If you are not a registered user of the website your contact details and address we will aim to remove any data we hold
about you  within 12 months of the Event.

<h1>Your rights</h1>
In line with UK law you have the right to see all the data we hold about you - please put any requests in writing to
<a href="mailto:Trustees@BranthamGarageSale.org.uk">Trustees@BranthamGarageSale.org.uk</a>.  We will respond to such requests within
30 days.

{% endblock %}