{% extends "home.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}

{% block PageStyles %}
    <style>
    div.info_column {
        justify-self: left;
        text-align: left ;
        border: thin dashed gray;
        border-radius: 10px;
        margin:1rem;
        padding:1rem;
    h3 {
        text-align: center;
    }
        .disclaimer {
            text-align: center;
            font-style: italic;
            font-size: 80%;
            background-color: lightgray;
            padding: 0.5rem;
            border-radius: 10px;
        }
    }
</style>

{% endblock %}

{% block Title %}
Brantham Garage Sale - Prize Draw
{% endblock %}

{% block sidebar %}
    <!-- Do we need a cms ??? -->
    <div class="sidebar entry direct tooltip" item="{% url 'home' %}" id='home' xmlns="http://www.w3.org/1999/html">
        <img class="sidebar icon" alt="Back Home" id='id_home_icon' src={% static 'GarageSale/images/icons/menu/home-svgrepo-com.svg' %}>
        <label for="id_home_icon">Back Home</label>
        <span class="tooltiptext arrow right">Go Back to Home Page</span>
    </div>
{% endblock %}

{% block SnappableSections %}

      <div class="card" card_name="PrizeDraw">
    <h1>2026 Prize Draw</h1>
      <div>
          <div>
          We are very pleased to announce the launch of our 2026 Prize Draw.  Tickets are available from Wednesday
          25th March from a variety of places around the village. The tickets are only £1.00 each, and all proceeds
          go into our 2026 fundraising campaign. The Draw will be made on Sunday 28th June - around 3pm outside Chloes
          cafe in Brantham. Winners will be notified by 5th July.
          </div>

          <div style="display: flex; flex-direction:row;" >
              <div class="info_column">
                    <h3>List of Prizes</h3>
                    The final list of prizes and their winners are listed below.
                    The draw was held outside Chloe's Cafe at 3pm on Sunday 28th June.
                    <p>
                        All of the winners have been contacted by phone; and some of the prizes have already been collected.
                    </p>
                    <ol>
                        <li>A Voucher for a 1 hour Photostudio session and 1 8x6 photo of your choice
                            with Barrett & Coe in Coggeshall. <b>Steve Smith - 00198</b></li>
                        <li>A one hour voucher for water Equipment hire courtesy of Constable Park in Brantham. <b>Steph Mills - 00907</b></li>
                        <li>A DeLonghi Coffee Machine with a supply of pods from Curry's in Ipswich. <b>Karl Ainger - 00116</b></li>
                        <li>Hamper from the Manning Whole Food store. <b>Sam Chatfield - 00384</b></li>
                        <li>MOT Voucher from MDS Cars Ardleigh. <b>Jane ??? - 00259</b></li>
                        <li>£50 voucher and paints from Wellhams of Manningtree. <b>Graham Currie - 00207</b></li>
                        <li>MOT Voucher from MDS Cars Thorrington. <b>Sian Ainger - 00124</b></li>
                        <li>Wine rack and 4 bottles of wine (2 white, 1 red and 1 presecco). <b>Richard Turnbull - 00940</b></li>
                        <li>Impact Imagery Voucher #1. <b>Sarah McCraw - 00272</b></li>
                        <li>Impact Imagery Voucher #2. <b>Sam Chatfield - 00385</b></li>
                        <li>Pamper Hamper from Taylor Wimpey. <b>Dulcie Ainger - 00195</b></li>
                        <li>Take-away afternoon tea for two courtesy of Chloe's Cafe. <b>Steve Dewhurst - 00580</b></li>
                        <li>A pamper hamper from City and Country in Manningree. <b>Jane ??? - 00653</b></li>
                        <li>1st Voucher for Massage from Worrals Wellbeing. <b>Steve Dewhurst - 00579</b></li>
                        <li>2nd Voucher for Massage from Worrals Wellbeing. <b>Lucia Cooke - 00392</b></li>
                        <li>Care Car kit from Tescos. <b>Ciaran McLaughlin - 00948</b></li>
                        <li>Yew tree Reflexology Voucher. <b>Joe Cousins - 00263</b></li>
                    </ol>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
