{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}

{% block body %}
    <div class="form">
        {% RegisterUser waiting="register-waiting" email_template="email/verify_email.html" redirect=request.GET.redirect %}

        <div class="notes">
        By registering with us you will be able to manage all of your involvement with the Garage Sale in one place, whether that is
        signing up for the Newsletter, requesting an advertising board or having your sale included on our map.<br/>
        All of your data is managed in accordance with our privacy policy.
        </div>
    </div>
{% endblock %}

