{% extends "news/tp_manage_news_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block additionalScripts%}
<script type="text/javascript" src="{% static 'team_pages/js/news_page.js' %}"></script>
{% endblock %}

{% block Title %}
        Brantham Garage Sale - Team Page: Create News Article
{% endblock %}

{% block details %}

<div class="detail bordered">
        <form method="post">
            {{form.media}}
            {%csrf_token%}
            <div class="table">
                <div class="table-row" >
                    <span class="table-cell label"><label for="id_headline">Headline</label></span>
                    <span class="data">{{form.headline}}</span>
                </div>
                <div class="table-row heading" >
                    <div class="table-cell label" ><label for="id_content">Content</label></div>
                    <div class="content data">
                            {{form.content}}
                   </div>
                </div>
                <div class="table-row" >
                    <span class="label"><label for="id_front_page">Front Page ?</label></span>

                    <span class="top" id="id_front_page">
                        {{ form.front_page }}
                    </span>
                    <span class="label synopsis"><label for="id_synopsis">Synopsis</label></span>
                    <span class="data synopsis">{{form.synopsis}}</span>
                </div>
                <div class="table-row">
                    <div class="table-cell label w25"><label for="id_publish_by">Publish by</label></div>
                        <div class="table-cell w25">{{form.publish_by}}</div>
                    <div class="table-cell w25"><label for="id_publish_by">Expire by</label></div>
                    <div class="table-cell w25">{{form.expire_by}}</div>
                </div>
            </div>
            <div class="buttons">
                {% block buttons %}
                    <input id='tp_cancel_form' item_id='' type="button" value="Cancel">
                    <input id='tp_reset_form' type="reset" value="Reset Form">
                    <input id='tp_save_form' type="submit" value="Save new Article">
                {% endblock %}
            </div>
        </form>
</div>
{% endblock %}