{% extends "news/tp_manage_news_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block additionalScripts%}
<script type="text/javascript" src="{% static 'team_pages/js/news_page.js' %}"></script>
{% endblock %}

{% block Title %}
        Brantham Garage Sale - Team Page: Viewing '{{form.instance.headline}}'
{% endblock %}

{% block details %}

<div class="detail bordered">
        {% if form.instance.published == True %}
        <div class="warning">
            Already Published
        </div>
        {% endif %}
        <form method="post">
            {%csrf_token%}
            <div class="table">
                <div class="table-row" >
                    <span class="table-cell label"><label for="id_headline">Headline</label></span>
                    <span class="data">{{form.instance.headline}}</span>
                </div>
                <div class="table-row heading" >
                    <div class="table-cell label" ><label for="id_content">Content</label></div>
                    <div class="content data">
                            {{form.instance.content.html | safe}}
                   </div>
                </div>
                <div class="table-row" >
                    <span class="label"><label for="id_front_page">Front Page ?</label></span>

                    <span class="top" id="id_front_page">

                        {% if form.instance.front_page %} &#x2705;{%else%}&#x274E{% endif %}
                    </span>
                    <span class="label synopsis"><label for="id_synopsis">Synopsis</label></span>
                    <span class="data synopsis">{{form.instance.synopsis}}</span>
                </div>
                <div class="table-row">
                    <div class="table-cell label w25"><label for="id_publish_by">Publish by</label></div>
                        <div class="table-cell w25">{{form.instance.publish_by}}</div>
                        {% if form.instance.expire_by is not None %}
                    <div class="table-cell w25"><label for="id_publish_by">Expire by</label></div>
                    <div class="table-cell w25">{{form.instance.expire_by}}</div>
                        {% endif %}
                </div>
            </div>
            <div class="buttons">
                {% block buttons %}
                    <input id='tp_cancel_form' item_id='' type="button" value="Cancel">
                {% endblock %}
            </div>
        </form>
</div>
{% endblock %}