{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}

{% block body %}
<H2>
    Password Reset Application
</H2>
<div class="form">
    <form method="POST" action="{% url 'user_management:reset_password' uuid %}?redirect={{redirect}}">
        <table>
            {% csrf_token %}
            {{ form }}
        </table>
        <div class="buttons">
            <input type="reset" value="Reset Form">
            <input type="submit" value="Password Reset">
        </div>
    </form>
    <script>
        /* Implement cancel button as a simple return to the GetInvolved page */
        function cancel_PasswordReset()
        {
            window.location.replace( {{redirect}} );
        }
    </script>
</div>

{% endblock %}