{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}

{% block Title %}
Brantham Garage Sale - Identifying user
{% endblock %}

{% block sidebar %}

    <!-- Do we need a cms ??? -->
    <div class="sidebar entry tooltip" item="home" id='home' xmlns="http://www.w3.org/1999/html">
        <img class="sidebar icon" alt="Back Home" id='id_home_icon' src={% static 'GarageSale/images/icons/menu/home-svgrepo-com.svg' %}>
        <label for="id_home_icon">Back Home</label>
        <span class="tooltiptext arrow right">Go Back Home</span>
    </div>
{%  endblock %}

{% block SnappableSections %}
    <script type="text/javascript">
    function login() { window.location.replace( "/user/login?next={{next|safe}}" ); }
    function guest() { window.location.replace( "/user/guest?next={{next|safe}}" ); }
</script>

<div class="form" style="width:50%;margin:auto;text-align:center;padding:5px;">
    <H1 style="margin-top:10px">Identifying you</H1>
    In order to manage your locations we need to know who you are.
    <form method="POST">
    <input type="hidden" name="next">
    <div class="buttons">
    <input type="button" value="Login" onclick="login()">
    <input type="button" value="Continue as a Guest" onclick="guest()">
    </div>
</form>

</div>
{% endblock %}
