{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}

{% block body %}
    <div class="form">
            <form method="POST" action="{% url 'user_management:login' %}?redirect={{ redirect }}" >
                {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <div class="buttons">
                <input type="button" onclick="cancel_login()" value="Cancel">
                <input type="button" onclick="register()" value="Register">
                <input type="submit" value="Login">
            </div>
        </form>
        <script>
            /* Implement register button */
            function register()
            {
                window.location.replace( '/user/register' );
            }

            /* Implement cancel button as a simple return to the GetInvolved page */
            function cancel_Login()
            {
                window.location.replace( '{{redirect}}' );
            }
         </script>
    </div>
{% endblock %}