{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}
{% block head-extra %}
<meta http-equiv="refresh" content="15;url={{ redirect }}" />
{% endblock%}

{% block body %}
    <div class="form">
            <h2>Password Changed Successfully</h2>
            Your password has now been changed - you should continue where you left off in a few seconds.
            If not press the button below.
            <form method="GET" action="{{ redirect }}" >
            <div class="buttons">
                <input type="submit" value="Continue">
            </div>
        </form>
        <script>
            /* Implement cancel button as a simple return to the GetInvolved page */
            function cancel_Login()
            {
                window.location.replace( '{{redirect}}' );
            }
         </script>
    </div>
{% endblock %}