{% extends "_base_with_toolbar.html" %}
{% load static %}
{% load user_management_tags %}

{% block body %}
    <div class="form">
        <form method="POST" action="{% url 'user_management:change_password' %}">
            <table>
            {% csrf_token %}
            {{ form.as_table }}
            </table>
            <div class="buttons">
                <input type="button" onclick="cancel_pwd_change()" value="Cancel">
                <input type="submit" value="Change Password">
            </div>
        </form>
    </div>
<script>
        function cancel_pwd_change()
        {
            window.location.replace( '{% url "getInvolved" %}' );
         }
</script>
{% endblock %}