{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block SnappableSections %}
        <script>
            function edit_event() { document.location.replace( "{% url 'TeamPages:MotdEdit' motd_id %}");}
        </script>
        <div style="width: 80%; margin: 0 auto;">
            <h4>Editing Message of the Day : {{form.instance.synopsis }}</h4>
            <div class="motd_content">
                {{form.instance.content | safe }}
            </div>
            <div class="use_from_date">
               Used from {{form.instance.use_from|date:"D, jS M Y" }}
            </div>
        </div>
        <div class="buttons">
            <input type="button" id="id_MotdEdit" onclick="document.location = '{% url 'TeamPages:MotdEdit' motd_id %}'" value="Edit">
        </div>
{% endblock %}