
div#ToolBar h1 {
	text-align: center;
	color: white;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 5px;
}

div#clock {
	padding-bottom: 0.5em;
	color: white;
	font-size: 120%;
	line-height: var(--ToolbarHeight);
	max-height: var(--ToolbarHeight);
	width: 50%;
	display: inline-block;
	justify-content: center;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5px;
}


div#Buttons .mobile {
    display : none ; }

div#Buttons {
	position: absolute;
	right: 30px;
	display: inline-block;
	bottom: 20px;
}

div#Buttons img.Button {
    height:32px;
    width:32px;
    padding: 4px;
    border: none;
}

div#Buttons img.Button.Animate:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-15deg); }
  40% { transform: rotate(0deg); }
  60% { transform: rotate(15deg); }
  80% { transform: rotate(0deg); }
 }

div#ToolBar div.menubar {
	display: block;
	padding-top: 0.5rem;
	/* margin-left: auto; */
	margin-right: auto;
/*	width: 75%; */
}

div#ToolBar div.menubar div.wrapper.browser {
	/* margin: auto; */
	/* width: 90%; */
	/* margin-left: 100px; */
	/* margin-right: 0px; */
	display: inline-block;
	margin-bottom: 0px;
}

div#ToolBar div.menubar div.wrapper.browser ul {
	/* margin: auto; */
	padding: 0px;
	/* width: 90%; */
}

div#ToolBar div.menubar div.wrapper.browser ul li {
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	padding-right: 1em;
	font-size: 20px;
}

div.Topline {
    margin-left: auto;
    margin-right: auto;
    margin-top:0em;
    margin-bottom: 2em;
    width: 80%;
    font-size : 150%;
}

