@page {
    size: A4;
    margin: 6rem 0.5cm;}



@page:first {  margin: 6rem 0.5cm;
      @bottom-right  {  content: normal;  border: initial; margin: initial; padding: initial}
      @top-right {  content:normal;  border: initial; margin: initial; padding: initial}
      @bottom-center {  content: "Page " counter(page) " of " counter(pages); }
      @top-center {
            border: none;
            width: 100%;
            height: 4rem;
            background-image: url("{{scheme}}://{{host}}/media/event_logo_2026-6/horse-Logo-01.png"), linear-gradient(to right, rgb(80 100 115 / 100%), transparent);
            background-repeat: no-repeat, no-repeat;
            background-position: top left, left;
            background-size: 3.75rem, 100%;
            margin-bottom: 0.5cm;
            margin-top: 1cm;
            font-size: 22px;
            font-weight: bold;
            content: "Brantham Garage Sale Foundation"
        }
    }

@page:left{
    margin: 3rem 0.5rem 6rem 0.5cm;
    @bottom-left {  content: "Page " counter(page) " of " counter(pages);  }
    @top-left {  content: "Brantham Garage Sale Foundation: {{summary}}";
                margin-bottom: 1rem;
                border-bottom: thin solid black;}
    }
@page:right{
    margin: 3rem 0.5rem 6rem 0.5cm;
    @bottom-right {  content: "Page " counter(page) " of " counter(pages);  }
    @top-right {  content: "Brantham Garage Sale Foundation: {{summary}}";
                margin-bottom: 1rem;
                border-bottom: thin solid black;}
}

header{ page-break-before: always; }
header > div { page-break-after: always}