:root {
    --fontSize:12pt;
}

@media only screen and (max-width: 800px)
{
    :root {
        --fontSize: 10pt;
    }
}


.browser {
    display : none ; }


.body {
    padding: 0em;
}
#clock {
    width: 60%;
    text-align: left;
    margin-left: 100px;
    display: inline-block;
}

span#Buttons {
    position: absolute ;
    right: 30px;
}

span#Ticker {
 width: 70%;
 }

div.TopBar h1 {
    font-size:120%;
    padding-left: 80px;
    padding-top : 0px;
    text-align: left;
	color: var(--fontColor);
	margin-top: 0;
	margin-bottom: 5px;
    span {
        display:block;
    }
}

 div.TopBar span.icon img.logo{
    width:90px;
    height:auto;
 }

div.TopBar span.icon {
    margin-left: 0px;
    padding-left: 0px;
}

div.TopBar{
    height:auto;
}

div#Buttons {
    bottom: 0;
    display: flex;
    span#user_name {
        display:flex;
        align-self:center;
        margin-right: 0.5rem;
    }
    span#mobile.BurgerDropDown {
        display:flex;
        align-self:center;
    }
}

div.MOTD {
    width:100%;
    overflow:auto;
}
div.MOTD:after {
    display:None;
}

div.TopBar::after {
	content: "";
	width: 85%;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom: solid thin lightgrey;
	position: absolute;
	bottom: 0;
}

/* The container <div> - needed to position the dropdown content */
.BurgerDropdown {
  position: relative;
  display: inline-block;
}

.BurgerDropdown-content > ul  > li > a {
    border:none;
}

.BurgerDropdown-content > ul  > li > a:hover {
    border:none;
}

/* Change color of dropdown links on hover */
.BurgerDropdown-content a:hover {font-style:italic; text-decoration: underline;}

/* Show the dropdown menu on hover */
.BurgerDropDown:hover .BurgerDropdown-content {display: block;}

/* Dropdown Content (Hidden by Default) */
.BurgerDropdown-content {
  display: none;
  position: absolute;
  right: -20px;
  background-color: var(--BackGroundColor);
	color: var(--fontColor);
  border-radius : 30px;
  box-shadow: 0px 8px 16px 0px rgba(1,1,1,1);
  z-index: 1;
  padding : 0px ;
}

.BurgerDropdown-content ul {
    padding-top: 0px;
    padding-left : 0px;
    padding-right : 5px;
    list-style-type: None;
    list-style-position: inside;
    white-space: nowrap}

/* Links inside the dropdown */
.BurgerDropdown-content ul li {
padding-bottom : 2px;
padding-left : 2px;}

.BurgerDropdown-content ul li:last-child {
padding-bottom : 0px; }

.BurgerDropdown-content a {
	color: var(--fontColor);
  font-weight: bold;
  padding: 0.25em 16px;
  text-decoration: None;
  display: block;
}

div.front-page-news {
    height:auto;
    width:95%;
    border-radius: 20px;
    padding: 0.5em;
}

div.front-page-news span.footnote {
	bottom: -8px;
	font-size: 75%;
	background: var(--PaperColor);
	right: -8px;
	opacity: 1;
}

div.front-page-news a.headline {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.synopsis {
    height:auto;
    overflow:auto;
}

h1.about-us {
    font-size:125%;
}

h2.about-us {
    font-size:110%;
}

div#about-us {
}

a {
    border-bottom: thin dotted white;
}

img#Burger{
    width:32px;
    height:32px;
}

@media only screen and (max-width: 470px) {
    div#Content {
        max-width: 340px;
    }
    h1 {
        font-size:120%;
    }
    #ToolBar h1 {
    font-size: 130%;
    width: fit-content;
    padding-left: 0;
    margin-left: 100px;
    }

    div.sidebar.entry:not(.bullet), span.sidebar.entry:not(.bullet) {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    border: thin grey solid;
    border-radius: 10px;
    box-shadow: grey 1px 1px 2px;
    background-color: inherit;
}
    div.sidebar.entry.selected:not(.bullet) {
        box-shadow: none;
    }

}