:root {
  --ToolbarHeight: 40px;
  --BackGroundColor: #1e90ff;
  --fontColor : lightgrey;
  --PaperColor : #CCCB9D;
}

body {
    background: var(--BackGroundColor);
    color : var(--fontColor);
    font-size:14pt;
}


div#ToolBar {
    padding : 1em 1em 1em 1em;
    margin: auto;
    width : 95%;
    /*         height : var(--ToolbarHeight); */
    }

span#Ticker {
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;
	color: white;
	border: solid thin white;
	border-radius: 2em;
	line-height: var(--ToolbarHeight);
	max-height: var(--ToolbarHeight);
	overflow: hidden;
	float: left;
	width: 70%;
	font-size: 75%;
	margin-left: 250px;
	display: none;
}

span.icon {
    height: auto;
    width: auto;
    display: inline-block;
}

div.TopBar img.logo {
float: left;
  top: 40px;
  position: absolute;
  display: inline;
  left: 0;
  height: 175px;
  top: 5px;
}

div#Buttons {
    position: absolute ;
    right: 30px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right : -10px;
  background-color: var(--BackGroundColor);
  color : white ;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(1,1,1,1);
  z-index: 1;
  padding : 0.1em ;
}

/* Links inside the dropdown */
.dropdown-content ul {
padding-left : 10px;
padding-right : 5px;
list-style-type: None;
list-style-position: inside;}

.dropdown-content ul li {
padding-bottom : 2px;
padding-left : 5px;
margin-top:0.5rem;
margin-bottom:0.5rem;
}

.dropdown-content ul li:last-child {
padding-bottom : 0px; }

.dropdown-content a {
  color: white;
  font-weight: bold;
  padding: 0.25em 16px;
  text-decoration: None;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {font-style:italic; text-decoration: underline;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	/* width: auto; */
	/* margin: 1rem; */
	/* padding: 0.5rem; */
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


.body {
	padding: 1em;
	margin: 1em;
	display: block;
	/* background: lightblue; */
	margin-top: 0em;
	padding-top: 0.5em;
    padding-bottom: 90px;
}

@media only screen and (max-width: 1140px){
    .body {
        margin:0.1em;
    }
}


div.form {
    border:thin white solid;
    color:white;
 /*   margin:auto; */
}

div.form.NoBorder {
    border:None;
    color:white;
 /*   margin:auto; */
}

table, td, th {
    /* border: thin solid white; */
}
@media only screen and (min-width: 1141px){
    .form{
        padding:20px;
        border-radius:30px;
            width : 100%;
    }
}


@media only screen and (max-width: 1140px){
    .form {
      width:95%;
      padding:5px;
      font-size:80%;
      border-radius:10px;
    }
}

label{
font-weight:bold;
    width: 10rem;
    text-align: right;
    display: inline-block;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], textarea, select
{
    color : var(--fontColor);
    background: var(--BackGroundColor);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* margin:5px; */
    box-shadow: 1px 1px rgba(1,1,1,1) inset;
    font-size:inherit;
}
input[type="url"] {
    width:25em;
}

div.form select[multiple] {
    accent-color: lightblue;
    padding-left: 10px;
    padding-right:10px;
}


div.form .buttons input{
    background : var(--BackGroundColor);
    padding : 5px ;
    font-size: 1rem;
    color : white ;
    border : thin solid white;
    border-radius : 0.5rem; ;
    box-shadow: 2px 2px 1px 1px rgba(1,1,1,1);
    margin : 15px;
}

div.duplicate {
    font-size: 80%;
    background-color: red;
    border: thin white solid;
    color: white;
    margin: 0.5rem;
    margin-top:1rem;
    padding: 0.25rem;
}

/*div.forms input[type='checkbox']
{
    height:2.5em;
    outline: 1px solid var(--BackGroundColor);
    accent-color : var(--BackGroundColor);
    width:2.5em;
    background-color: var(--BackGroundColor);
    border: thin solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px black ;
    padding:2px;
} */

div.form input[type='checkbox']:checked
{

}

div.form .buttons input:active {
    box-shadow: 2px 2px 2px 2px rgba(1,1,1,1) inset;
}

div.form input[type='text']:disabled, input[type='email']:disabled
{
    box-shadow:none;
    border:none;
    font-weight:bold;
}

div.form ul.errorlist {
    font-size: 75%;
    color: black;
    font-weight: bold;
    background-color: lightgrey;
    /* border: thin black solid; */
    padding: 0.75rem;
    /* padding-left: 0px; */
    border-radius: 1rem;
    width: fit-content;
}

td.errorlist {
    /* width: 80%; */
}

div.form .errorlist li{
    list-style-type: none;
    width: fit-content;
}
div.notes{

}

div.post-form {
    padding-top:0.5em;
    padding-bottom:0.5em;
}

a {
    color : inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-style : italic;
    text-decoration : none;
    font-weight: bold;
    border-bottom: thin dashed black;
}

div.TopBar {
    position:sticky;
    top:0;
    opacity:1;
    z-index:1;
    background: rgba(30,144,255,1.0);
}

div.TopBar::after {
	content: "";
	width: 85%;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom: dotted thin lightgrey;
	position: absolute;
	bottom: 1rem;
}


div.MOTD {
    margin-left: auto;
    margin-right: auto;
    margin-top:0em;
    margin-bottom: 2em;
    width: 80%;
    overflow-x:auto;
    overflow-y:auto;
}

div.MOTD:after {
    width:50%;
    content:"";
    border-bottom: thin solid lightgrey;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
}

div#Front-page-news {
      padding-top: 2em;
      width:80%
}

h2#Front-page-headline {
    font-size: 200%;
    width: 75% ;
    margin: auto;
    text-align: center;
    padding-bottom:1em;
}

div.front-page-news {
	margin: auto;
	height: auto;
	border: thin solid black;
	width: 75%;
	border-radius: 25px;
	padding: 1em;
	max-height: 5em;
	overflow: hidden;
	color: black;
	background: var(--PaperColor);
	box-shadow: 5px 5px 5px;
	font-size: 100%;
	position: relative;
	margin-top: 0.5em;
	padding-bottom: 0.2em;
}

div.front-page-news a.headline {
    margin-left:0.5em;
    margin-right:0.5em;
    font-size:150%;
    font-weight:bold;
    color:black;
    text-decoration:none;
}

div.front-page-news .synopsis {
    font-size:18px;
    line-height:30px;
}

div.front-page-news a.headline:hover {
    text-style: italic;
}

div.front-page-news a.headline:visited {
    color:black;
}


div.front-page-news span.footnote {
	font-size: 100%;
	position: relative;
	float: right;
	border: thin solid black;
	border-radius: 25px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 2px 2px black;
	font-weight: bold;
	position: relative;
	bottom: -0.15em;
	margin: 0px;
	right: -0.90em;
}

div.form th:has(label[for='id_gift_aid']){
    vertical-align:top;
    padding-top:10px;
}

div.form label[for='id_gift_aid']{
    margin-top:10px;
}

/** help text for table layout **/
div.form th:has(label) +td .helptext {
    font-size : 80%;
    padding: 5px;
    display:None;
    background : #f0f0f0;
    border: thin black solid;
    color : black;
    position : absolute;
    box-shadow:2px 2px 5px #0f0f0f;
    border-radius:15px;
    z-index: 1000;
}

div.form th:has(label:hover) +td .helptext
{
display: block;
}

/** Helptext mouseover for div layout **/

div.form .field_wrapper span.helptext {
    font-size : 80%;
    padding: 5px;
    display:None;
    background : #f0f0f0;
    border: thin black solid;
    color : black;
    position : absolute;
    box-shadow:2px 2px 5px #0f0f0f;
    border-radius:15px;
    z-index: 1000;
}

div.form .field_wrapper:has(label:hover) span.helptext
{
    display: block;
}


div.form .field_wrapper .label {
    width: 15rem;
    justify-content: right;
}

a.footnote {
    text-decoration:none;
    color:black;
}

a.footnote:hover {
    text-style: italic;
}

a.footnote:visited {
    color: black;
}

div.about-us {
	margin-left: 5%;
	margin-right: 5%;
}
div.about-us:nth-child(6){
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0.5rem;
}

div.about-us.footnote::before {
	content: '';
	width: 50%;
	display: block;
	border-top: dashed thin white;
	margin: auto;
	left: 0;
	right: 0;
	position: relative;
	top: -1rem;
}

div.about-us.footnote {
	margin-top: 2rem;
	position: absolute;
	padding-bottom:2rem;
}


input[type="checkbox"] {
    position: relative;
/*    left: 1rem;  *//* TODO - 1rem doesn't work on small screen style */
    margin: 8px 0 0 16px;
    z-index:-1;
    display:none;
}

/** Syling for checkbox in a table **/
th:has(+td input[type="checkbox"])  label{
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
th:has(+td input[type="checkbox"]) label:after {
    content: "";
    position: absolute;
    display: block;
/*    left: +10rem; */
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #b0b0b0;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

th:has(+td input[type="checkbox"]) label:before {
    content: "";
    position: absolute;
    display: block;
/*    left: +10rem; */
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #e4e4e4;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

th:has(+td input[type="checkbox"]) label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
th:has(+td input[type="checkbox"]:checked) label:after {
    margin-left: 16px;
    background: #3333DD;
}
th:has(+td input[type="checkbox"]:checked) label:before {
    background: #55D069;
}

/** Styling for simple div base layout **/
label:has(+input[type="checkbox"])  {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
label:has(+input[type="checkbox"]):after {
    content: "";
    position: absolute;
    display: block;
/*    left: +10rem; */
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #b0b0b0;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

label:has(+input[type="checkbox"]):before {
    content: "";
    position: absolute;
    display: block;
/*    left: +10rem; */
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #e4e4e4;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

label:has(+input[type="checkbox"]):hover:after  {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

label:has(+input[type="checkbox"]:checked):after {
    margin-left: 16px;
    background: #3333DD;
}
label:has(+input[type="checkbox"]:checked):before {
    background: #55D069;
}


div.test_warning {
     clear: both;
    position: fixed;
    bottom: 5px;
    width: 85%;
    min-height: auto;
    background-color: brown;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 5%;
    right: 5%;
    border: thick yellow solid;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
}



span.location_type {
    margin-right: 2rem;
}

div.location_type {
    margin-bottom: 1rem;
}
div.address {
    margin-left: 1rem;
}