    div.popup {
        div#AttachmentSection label {
            margin-right: 0.5rem;
        }

        div#AttachmentSection span:not(:first-child) {
            margin-left: 1rem;
        }

        h2 {
            text-align: center;
        }

        span.name {
            display: inline-block;
        }

        div#help-popup-button img.help,
        div#help-popup img.close
        {
                height:28px;
                position:absolute;
                right:2px;
                top:2px;
        }

        div.form div#TemplateDetails {
        overflow-y: auto;
        border:thin dashed black;
        border-radius:15px;
        padding:0.5rem;
        height: fit-content;
        max-height: 25rem;
            scrollbar-width: thin;
            background-color: lightyellow;
    }

        div.form div#AttachmentSectionWrapper {

        padding:5px;
        max-height:5rem;
        border:thin dashed black;
        border-radius:5px;
        padding-bottom: 2.5rem;}

        div.form div#AttachmentSection {
            overflow-y: auto;
            background-color: lightyellow;
            scrollbar-width: thin;
    max-height: 4rem;
        }

        div.form div#AttachmentSection span.delete {
            float:right;
        }
        div.form div#AttachmentSectionWrapper span.add {
            float: right;
            bottom: -0.5rem;
            position: relative;
            right: 0.5rem;
            input[type="submit"]
            {
                background-color:lightblue;
                border-radius:15px;
            }
        }
        #html_content,
        #signature{
            border: thin solid black;
            border-radius: 5px;
            padding: 1rem;
        }
        span.field {
            margin-left: 1rem;
        }

        input.button.confirm,
        input.button.cancel {
            border-radius: 5pc;
            padding: 0.2rem 0.75rem;
            }

        input.button.confirm {
            background-color: lightgreen;
        }
        input.button.cancel {
            background-color: indianred;
        }

        div.detail div.popup h2 {
            margin : 0.2rem auto;
        }

        div#help-popup {
            width: 90%;
        }
        div#help-popup-content {
            border: thin solid black;
            overflow-y: auto;
            margin-bottom: 1rem;
            height: 35rem;
            padding: 10px;
            scrollbar-width: thin;
        }
    }