    div.popup {
        display:none;
        border: 1px solid black;
         background-color: white;
         padding: 10px;
         width:50%;
         position: absolute;
         z-index: 1000;
        box-shadow: 2px 2px 5px black;
        border-radius: 15px;

        div.form{
            margin: 0.25rem 0.2rem;
            padding: 0.5rem 0.5rem;
            width: auto;
            p {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            div.buttons {
                margin-bottom: 0;
                padding-bottom: 0;
            }

            div#AttachmentSection label {
                margin-right: 0.5rem;
            }

            div#AttachmentSection span:not(:first-child) {
                margin-left: 1rem;
            }

            }
        }
        h2 {
            text-align: center;
        }

        span.name {
            display: inline-block;
        }

div.popup{
    div#help_popup-button img.help,
    div#help_popup img.close
    {
            height:28px;
            position:absolute;
            right:10px;
            top:10px;
    }
}

div.form div#TemplateDetails {
    overflow-y: auto;
    border:thin dashed black;
    border-radius:15px;
    padding:0.5rem;
}

div.form div#AttachmentSection {
    padding:5px;
    max-height:5rem;
    overflow-y: auto;
    border:thin dashed black;
    border-radius:5px;
}

div.form div#AttachmentSection span.delete {
    float:right;
}
div.form div#AttachmentSection span.add {
    float:right;
    input[type="submit"]
    {
        background-color:lightblue;
        border-radius:15px;
    }
}
    #html_content,
    #signature{
        border: thin solid black;
        border-radius: 5px;
        padding: 1rem;
    }
    span.field {
        margin-left: 1rem;
    }

input.button.confirm,
input.button.cancel {
    border-radius: 5pc;
    padding: 0.2rem 0.75rem;
    }

    input.button.confirm {
        background-color: lightgreen;
    }
    input.button.cancel {
        background-color: indianred;
    }

    div.detail div.popup h2 {
        margin : 0.2rem auto;
    }