
{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block SnappableSections %}
    <div class="form" >
        <script>
            function cancel_event() { document.location.replace( "{% url 'TeamPages:Root' %}" ) }
        </script>
        <h2>
            {% if action == 'edit' %}
                Edit Event
            {% elif action == 'create' %}
                Create Event
            {% endif %}
        </h2>
        <form method="post" enctype='multipart/form-data'>
            <table>
                {%csrf_token%}
                {{form}}
            </table>
            <div class="buttons">
                {% if action == 'edit' %}
                    <input type='button' onclick="cancel_event()"  value="Cancel Edits">
                    <input type='reset'   value="Reset Form">
                    <input type='submit'   value="Save Changes">
                {% elif action == 'create' %}
                    <input type='button' onclick="cancel_event()"  value="Cancel New Event">
                    <input type='reset'   value="Reset Form">
                    <input type='submit'   value="Save New Event">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}