
{% extends "team_page.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block content %}
    <div class="form" >
        <script>
            function cancel_event() { document.location.replace( "{% url 'TeamPagesRoot' %}" ) };
        </script>
        <h2>
            {% if action == '_edit' %}
                Edit Event
            {% elif action == '_create' %}
                Create Event
            {% endif %}
        </h2>
        <form method="post" enctype='multipart/form-data'>
            <table>
                {%csrf_token%}
                {{form}}
            </table>
            <div class="buttons">
                {% if action == '_edit' %}
                    <input type='button' onclick="cancel_event()"  value="Cancel Edits">
                    <input type='reset'   value="Reset Form">
                    <input type='submit'   value="Save Changes">
                {% elif action == '_create'%}
                    <input type='button' onclick="cancel_event()"  value="Cancel New Event">
                    <input type='reset'   value="Reset Form">
                    <input type='submit'   value="Save New Event">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}