{% load static %}
<div class="category-list">
    {% for category in category_list %}
        {% if category.url_path %}
            <div class="tile ">
                    <a href="{%url category.url_path %}">{{category.name}}
                {%  if category.icon_path %}
                        <img id='id_{{ category.name|slugify}}'  src="{{ category.icon_path }}" alt="{{category.name}}" />
                {% endif %}
                </a>
        {% else %}
            {{category.name}}
        {% endif %}
    </div>
    {% endfor %}
</div>