{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block PageStyles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="{% static 'team_pages/styles/team_page.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block Title %}
    Brantham Garage Sale - Team Page
{% endblock %}

{% block header %}
<div  class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb %}
    {% endblock%}
</div>
{% endblock %}

{% block sidebar %}

{% if perms.Accounts.view_transaction %}
        <div class="sidebar entry direct tooltip" item="{% url 'Account:report' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'Account:report' %}" >
                <img class="sidebar icon" alt="Finances" id='id_finances' src={% static "GarageSale/images/icons/menu/money-bag-pound-svgrepo-com.svg" %} >
                <label for="id_finances">Finances</label></a>
                <span class="tooltiptext right arrow">Financial Details and Reporting</span>
        </div>
    {% endif %}
            {% if perms.GarageSale.is_team_member %}
            <div class="sidebar entry direct tooltip" item="{% url 'TeamPages:GoogleDrive' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'TeamPages:GoogleDrive' %}">
                <img class="sidebar icon" alt="About Us" id='id_team' src={% static "GarageSale/images/icons/menu/network-drive-svgrepo-com.svg" %}>
                <label for="id_team">Google Drive Connection</label>
                <span class="tooltiptext arrow right">Connect to Google Drive</span></a>
            </div>
        {% endif %}
{%  endblock %}