{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block PageStyles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="{% static 'team_pages/styles/team_page.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block Title %}
    Brantham Garage Sale - Team Page
{% endblock %}

{% block header %}
<div  class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb %}
    {% endblock%}
</div>
{% endblock %}

{% block sidebar %}
        {% if perms.GarageSale.is_team_member %}
            <div class="sidebar entry direct tooltip" item="team" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'TeamPagesRoot' %}">
                <img class="sidebar icon" alt="About Us" id='id_team' src={% static "GarageSale/images/icons/menu/team-3-svgrepo-com.svg" %}>
                <label for="id_team">Team Access</label>
                <span class="tooltiptext arrow right">Team Access</span></a>
            </div>
        {% endif %}
{%  endblock %}