div.introduction {
    font-size: 100%;
    width: 80%;
    padding-bottom: 1rem;
    margin: auto;
}

div.introduction h1 {
    width:64%;
    margin:auto;
    text-align:center;
    padding-bottom: 0.5em;
}

@media only screen and (min-width: 1141px){
    div.row div.image img.logo {
    max-width: 300px;
    max-height: auto;
    }
}

@media only screen and (max-width: 1140px){

    .body {
        margin-left:5px;
        margin-right:5px;
    }

    div.introduction{
        width:95%;
        font-size:110%;
        padding-left:0.25em;
        padding-right:0.25em;
    }

    div.introduction h2{
        width: 80%;
        font-size: 140%;
    }
    div.row div.image img.logo {
      max-width: 200px;
      max-height: auto;
    }

}

div.bar {
  content: '';
  display: block;
  width: 80%;
  margin: auto;
    margin-top: auto;
  border-bottom: thin dashed lightblue;
  padding-bottom: 1em;
  margin-top: 0em;
  padding-top: 0em;
}

div.outer {
	width: 80%;
	margin: auto;
	font-size: 110%;
	padding-top: 2em;
}

@media only screen and (max-width: 1140px){

    div.outer{
    width:100%;
    padding-top:0.5em;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    }
}


div.row {
  width:80%;
  margin:auto;
  border: thin lightgrey solid;
  border-radius:25px;
    padding-left:1em;
    padding-right:1em;
}

@media only screen and (max-width: 1140px){
    div.row {
        width:95%;
        padding-left:0.1em;
        padding-right:0.1em;
    }
}

div.name {
    width:60%;
    margin:auto;
    text-align:center;
    font-size: 200%;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

@media only screen and (max-width: 1140px){
    div.name {
        font-size: 125%;
        width:75%;
    }
}

div.inner {
  display: flex;
  padding: 0 1.5em;
}

div.inner:after {
    clear:both;
}
@media only screen and (max-width: 1140px){
    div.row div.inner {
        display:table;
        padding: 0 0.25em;
    }
}

@media only screen and (min-width: 1141px){
    div.row div.inner:after {
      content: "";
      display: table;
      clear: both;
    }
}

div.row div.image, div.description{
    padding-left: 1em;
    padding-right: 1em;
}

div.description {
    float: left;
    font-size: 100%;
    text-align: left;
    margin-left: 2rem;
}

div.image {
    float: left;
}

div.image img {
    max-height:250px;
    width:auto;
    max-width:375px;
}


@media only screen and (max-width: 1140px){
    div.row div.image, div.description{
        padding-left: 0.1em;
        padding-right: 0.11em;
    }
    div.image {
        clear:both;
    }
    div.image img{
        max-width:calc(screen-width*0.8);
    }
    div.description {
        clear:both;
        font-size:100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


div.contact{
    padding-top:0.5em;
    padding-bottom:0.5em;
    display:flex;
}

@media only screen and (max-width: 1140px){
    div.contact {
        padding-left: 10px;
        font-size:80%
    }
}
div.contact img {
    width:24px;
    height:24px;
    vertical-align: middle;
}

div.phone, div.email {
    font-size:100%;
}

div.email a {
    text-decoration: None;
}

div.email a:hover, a:visited {
    text-decoration: None;
}


div.icons {
    margin-left: 5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.icons a {
    text-decoration: none !important;
    border: none !important;
    outline:none;

}

div.icons a img{
    text-decoration: none !important;
    border: none !important;
    outline:none;
}

div.icons div.social {
	display: inline-block;
    height:1.5em;
    width:1.5em;
	padding-right:1em;
}

div.card.sponsor {

    div.name {
        font-size: 125%;
        font-weight: bold;
    }

    div.details {
        display: flex;
    }

    div.details {
        div.image {
            float:left;
        }
        div.image img {
            max-height : 256px;
            max-width : 300px;
        }
        div.description {
            float:left;
            text-align: left;
        }
    }
}