<div class="intro">
    <p>"{{ marketer.trading_name }}": thank you for responding to our invite to the Craft Market.

    <p>Please read through the T&Cs and then use one of the buttons below to provide your response to the invite.
</div>
<input type="hidden" name="marketer" value="{{marketer}}" />
<input type="hidden" name="marketer_id" value="{{marketer.id}}" />

    <div style="margin-bottom:1rem;border:1px solid grey;padding-left:1rem;padding-right: 1rem;padding-bottom:1rem;border-radius: 1rem;">
        <h3>Terms and Conditions</h3>

    <div id="CraftMarketToS" style="padding:1rem 2rem; background-color:beige;border:1px solid black; height:15rem; overflow:auto; box-shadow: inset 1px 1px 2px black;border-radius: 15px; ">
        {{ tos }}
    </div>
    </div>


<div class="buttons">
    <h3>Please use one of the buttons below to provide your response to the invite.</h3>

    <input type=submit class='button reject' name='RSVP_No' value="Sorry, we can't make it">
    <input type=submit class='button confirm' name='RSVP_Yes' value="I accept the T&Cs and we will be there">

</div>