{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block sidebar %}
            {% if perms.GarageSale.is_team_member %}
            <div class="sidebar entry direct tooltip" item="{% url 'TeamPages:Root' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'TeamPages:Root' %}">
                <img class="sidebar icon" alt="About Us" id='id_team' src={% static "GarageSale/images/icons/menu/team-3-svgrepo-com.svg" %}>
                <label for="id_team">Team Access</label>
                <span class="tooltiptext arrow right">Team Access</span></a>
            </div>
        {% endif %}
    {{ block.super }}
{% endblock %}
