{% extends "home.html" %}
{% load garage_sale_data %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}

{% block Title %}
Brantham Garage Sale - Nominate organisation
{% endblock %}

{% block SnappableSections %}
    <h2 style="text-align: center;">Nomination Successfully Received</h2>
    Thank you for your nomination - the committee will consider this for a future funding campaign.<br>

    We might contact you, or the organisation you have nominated if we need further information.

{% endblock %}