{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block PageStyles %}
    <style>

    h2, h3 {
        text-align: center;
    }
    h2 {
        background-color: lightgray;
        color: black;
        border-radius: 20px;
        padding: 0.5rem;
    }

        div.table {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 80%;
            margin: 2rem auto;
        }

        div.row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            transition: all 0.2s ease-in;
            margin-bottom: 0;
        }

        div.table div.row:not(.header) {
            border-bottom: thin solid gray;
        }

        div.table a {
            text-decoration: none;
            border-bottom: initial;
        }

        div.table a:nth-last-child(2) div.row {
            border-bottom: none;
        }

        div.table a:first-child div.row {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        div.table a:last-child div.row {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border: thin solid gray;

            div.cell:first-child {
                border-left: none;
            }

            div.cell:last-child {
                border-right: none;
            }
        }

        div.header {
            font-weight: bold;
            font-size: 120%;
            background-color: darkgray;
            color: white;
            border-radius: 20px 20px 0 0;
            padding: 0.2rem 0.2rem 0.5rem;


        }

        div.row:not(.header) div.cell {
            border-right: thin solid gray;
        }

        div.row:not(.header) div.cell:first-child {
            border-left: thin solid gray;
        }

        div.row.header div.cell:nth-child(+2) {
            border-right: thin double gray;
        }

        div.row:not(.header):hover {
            font-weight: bold;
            font-size: 120%;
            background-color: lightgray;
            border-bottom: thin solid gray;
            text-decoration: none;
            font-style: italic;
            border-radius: 20px;
            transition: background-color 0.3s, font-style 0.5s, font-weight 0.3s, border-radius 0.5s, font-size 0.3s ease-in;

            div.cell {
                border-right: none;
                border-left: none;
            }
        }

        div.cell {
            display: inline-block;
            align-items: center;
            flex: 1;
            padding: 0.2rem 0.2rem 0.5rem;
            text-align: center;
        }

        #Content details summary {
            font-size: 120%;
            font-weight: bold;
            text-align: center;
        }

        #Content details summary:hover {
            cursor: pointer;
        }

        @keyframes fadeInDown {
            0% {
                opacity: 0;
                /*     height:0; */
            }
            100% {
                opacity: 1;
                /*        height:100px; */
                overflow: hidden;
            }
        }

        details[open] > div {
            animation-name: fadeInDown;
            animation-duration: 0.5s;
            animation-timing-function: ease-in;
        }
    </style>
{% endblock %}

{% block SnappableSections %}

    <h2>Current and completed Funding Nominations</h2>

    {% if new %}
        <details id="nominations-list-new" open>
            <summary>New Nominations</summary>
            {% with nominations=new type='new' %}
                <div>
                    {% include "team_pages/nominations/nomination_table.html" %}
                </div>
            {% endwith %}
        </details>
    {% else %}
            <h3>No new nominations received</h3>
    {% endif %}

    {% if accepted %}
        <details id="nominations-list-accepted">
            <summary>Accepted Nominations</summary>
            {% with nominations=accepted type='accepted' %}
                <div>
                    {% include "team_pages/nominations/nomination_table.html" %}
                </div>
            {% endwith %}
        </details>
    {% endif %}

    {% if complete %}
        <details id="nominations-list-complete">
            <summary>Completed (funded) Nominations</summary>
            {% with nominations=complete type='complete'%}
                <div>
                    {% include "team_pages/nominations/nomination_table.html" %}
                </div>
            {% endwith %}
        </details>
    {% endif %}

    {% if rejected %}
        <details id="nominations-list-rejected">
            <summary>Rejected Nominations</summary>
            {% with nominations=rejected type='rejected' %}
                <div>
                    {% include "team_pages/nominations/nomination_table.html" %}
                </div>
            {% endwith %}
        </details>
    {% endif %}


{% endblock %}