{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block PageStyles %}
    <style xmlns="http://www.w3.org/1999/html">
        div.section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 80%;
            margin: 1rem auto 0;
            border-radius: 20px;
            padding: 0.5rem;
            box-shadow: 2px 2px 5px gray;

            h3 {
                margin: 0;
                text-align: center;
            }

        }

        div.anonymous h3:after {
            content: ": Anonymous";
            color: red;
            font-weight: bold;
        }

        div.row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        div.cell {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0.2rem 0.2rem 0.5rem;
            text-align: center;
            backdrop-filter: blur(5px);

            span:first-child {
                font-weight: bold;
                display: block;
            }

            a {
                font-weight: normal;
                text-decoration: none;
                padding: 0.2rem;
            }

            a:hover {
                border-bottom: none;
                cursor: default;
            }

            a:not([href='tel:'], [href='mailto:']):hover {
                font-weight: normal;
                text-decoration: none;
                cursor: pointer;
                padding: 0.2rem;
                border-bottom: none;
                border-radius: 10px;
                background-color: lightgray;
            }
        }

        div.section.details div.cell span {
            text-align: left;
        }

        div.section.details div.cell span:nth-child(+2) {
            /*   border: thin solid grey; */
            box-shadow: 1px 1px 3px gray;
            text-align: left;
            border-radius: 10px;
            padding: 1rem 0.5rem 1rem;
            width: 80%;
            margin: 0.5rem auto 0.5rem;
        }

        div.form .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 85%;
            margin: 1rem auto 0;
        }

        div.form input.button {
            font-size: 120%;
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block SnappableSections %}
    <div class="section">
        <h3>Nomination Details</h3>
        <div class="row">
            <div class="cell">
                <span>Nominated Organisation</span>
                {{ nomination.nominee }}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <span>Contact EmaIL of the nominee</span>
                <a href="mailto:{{ nomination.contact_email }}">{{ nomination.contact_email|default:"No contact email provided" }}</a>
            </div>
            <div class="cell">
                <span>Contact phone number of the nominee</span>
                <a href="tel:{{ nomination.contact_phone }}">{{ nomination.contact_phone|default:"No contact phone number provided" }}</a>
            </div>
        </div>
    </div>
    <div class="section {% if nomination.anonymous %}anonymous{% endif %}">
        <h3>Nominator</h3>
        <div class="row">
            <div class="cell">
                <span>Nominator</span>
                {{ nomination.nominator }}
            </div>
        </div>
        <div class="row">
            <div class="cell ">
                <span>Nominator Email</span>
                <a href="mailto:{{ nomination.nominator_email }}">{{ nomination.nominator_email|default:"No contact email provided" }}</a>
            </div>
            <div class="cell">
                <span>Anonymous</span>
                {{ nomination.anonymous|yesno:"Yes,No" }}
            </div>
        </div>
    </div>
    <div class="section details">
        <h3>Details of Nominee</h3>
        <div class="row">
            <div class="cell">
                <span>Community Activities</span>
                <span>{{ nomination.community_activities }}</span>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <span>Spending plans</span>
                <span>{{ nomination.spending_plans }}</span>
            </div>
        </div>
    </div>
    {% if nomination.status == 'rejected' and nomination.reason %}
        <div class="section">
            <div class="row">
                <div class="cell">
                    <span>Reason for rejection</span>
                    <span>{{ nomination.reason }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    <form id=nomination_details method="POST">
        {% csrf_token %}
        <div class="form">

            <div class="buttons">
                <input type="button" class='button cancel' value="Back"
                       onclick='window.location="{% url 'NominationsList' %}" '>
                {% if nomination.status == 'New' %}
                    <input type="submit" class='button confirm' name='accept' value="Accept Nomination">
                    <input type="button" class='button reject' name="reject" value="Reject Nomination"
                           onclick="open_dialog()">
                {% endif %}
                {% if nomination.status == 'Accepted' %}
                    <input type="button" class='button reject' name="reject" value="Reject Nomination"
                           onclick="open_dialog()">
                    <input type="submit" class='button reconsider' name='reconsider' value="Reconsider Nomination">
                    <input type="submit" class='button confirm' name="complete" value="Mark Nomination as complete">
                {% endif %}
                {% if nomination.status == 'Rejected' %}
                    <input type="submit" class='button confirm' name='reconsider' value="Reconsider Nomination">
                {% endif %}
            </div>
        </div>
    </form>

    <dialog id="rejection_reason_dialog">
        <h3>Reason for rejection</h3>
        <form method="POST">
            <div class="form">
                {% csrf_token %}
                <div class="cell">
                    <label for="rejection_reason">Provide a short summary of why this nomination was rejected</label>
                    <div><textarea id="rejection_reason" cols="50" spellcheck="true" required
                                   name="rejection_reason"></textarea></div>
                </div>
                <div class="buttons">
                    <input type="button" class='button cancel' value="Cancel"
                           onclick="document.getElementById('rejection_reason_dialog').close()">
                    <input type="submit" class='button reject' name="reject" value="Reject Nomination">
                </div>
            </div>
        </form>
    </dialog>

    <script>
        function open_dialog() {
            const dialog = document.getElementById('rejection_reason_dialog')
            const form = dialog.querySelector('form')
            const main_form = document.getElementById('nomination_details')
            form.url = main_form.url
            dialog.onsubmit = function (event) {
                form.submit();
                dialog.close();
            }
            dialog.showModal();
        }

        function capture_rejection_reason() {
            document.getElementById('rejection_reason_dialog').showModal();
        }


    </script>
{% endblock %}
