{% extends "team_pages_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block PageStyles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="{% static 'team_pages/styles/team_page.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block Title %}
    Brantham Garage Sale - Team Page
{% endblock %}

{% block header %}
<div  class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb %}
    {% endblock%}
</div>
{% endblock %}

{% block sidebar %}
        <div class="sidebar entry direct tooltip" item="{% url 'home' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'home' %}">
                <img class="sidebar icon" alt="Home Page" id='id_home_page' src={% static "GarageSale/images/icons/menu/home-svgrepo-com.svg" %} >
                <label for="id_home_page">Home Page</label></a>
                <span class="tooltiptext right arrow">Return to Home Page</span>
        </div>
        <div class="sidebar entry direct tooltip" item="{% url 'TeamPages:Root' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'TeamPages:Root' %}">
                <img class="sidebar icon" alt="Home Page" id='id_home_page' src={% static "GarageSale/images/icons/menu/team-3-svgrepo-com.svg" %} >
                <label for="id_home_page">Team Pages</label></a>
                <span class="tooltiptext right arrow">Team Pages</span>
        </div>
    {% if perms.Accounts.upload_transaction %}
        <div class="sidebar entry direct tooltip" item="{% url 'Account:upload_transactions' %}" xmlns="http://www.w3.org/1999/html">
        <a href="{% url 'Account:upload_transactions' %}">
            <img class="sidebar icon" alt="Upload Bank Transactions" id='id_up' src={% static "GarageSale/images/icons/menu/upload-svgrepo-com.svg" %}>
            <label for="id_up">Upload Transactions</label>
            <span class="tooltiptext arrow right">Upload Bank Transactions</span></a>
        </div>
        {% endif %}
    {% if perms.Accounts.view_transaction or perms.Account.edit_transaction %}
        <div class="sidebar entry direct tooltip" item="{% url 'Account:TransactionList' %}" xmlns="http://www.w3.org/1999/html">
        <a href="{% url 'Account:TransactionList' %}">
            <img class="sidebar icon" alt="Show/Edit Transactions" id='id_up' src={% static "GarageSale/images/icons/menu/list-svgrepo-com.svg" %}>
            <label for="id_up">Transactions</label>
            <span class="tooltiptext arrow right">Show/Edit Transactions</span></a>
        </div>
        {% endif %}
    {% if perms.Accounts.report_transaction %}
                <div class="sidebar entry direct tooltip" item="{% url 'Account:report' %}" xmlns="http://www.w3.org/1999/html">
        <a href="{% url 'Account:report' %}">
            <img class="sidebar icon" alt="Financial Reporting" id='id_up' src={% static "GarageSale/images/icons/menu/report-svgrepo-com.svg" %}>
            <label for="id_up">Financial Reports</label>
            <span class="tooltiptext arrow right">Financial Reports</span></a>
        </div>
    {% endif %}

{%  endblock %}

{% block SnappableSections %}

{% endblock %}
