{% extends "accounts_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}

{% block Title %}
    Brantham Garage Sale - Financial Reports
{% endblock %}

{% block PageStyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'team_pages/styles/team_page.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'Accounts/styles/reports.css' %}">
    <style>
        div#Content {
            font-size:80%;
        }
    </style>
{% endblock %}

{% block header %}
<div  class="breadcrumb">
    {% block breadcrumb %}
        {% breadcrumb %}
    {% endblock%}
</div>
{% endblock %}

{% block SnappableSections %}

<script language="javascript">
    function report_data_changed(event) {
            const type_element = document.getElementById("id_type")
            const year_element = document.getElementById("id_year")
            const report_type_element = document.querySelector("input[name='report_type']:checked")
            const start_element = document.getElementById("id_start_date")
            const end_element = document.getElementById("id_end_date")

            let params = new URLSearchParams(window.location.search);
            let year = (year_element != null) ? year_element.value : "";
            let report_type = (report_type_element != null) ? report_type_element.value : "";

            /* Have any changes been made ? */
            if (params.get('type') === type_element.value && params.get('year') === year  && params.get('report_type') === report_type
            && params.get('start') === start_element.value && params.get("end") ===end_element.value)
                return;

            params = null ;
            params = new URLSearchParams();

            /* Type is always set */
            params.set('type', type_element.value);

            if (type_element.value === 'yearly') {}
                if (year !== "")
                    params.set('year', year);

            if (type_element.value === 'flexible') {
                params.set('report_type', report_type);
                if (report_type === "custom") {
                    if (start_element.value !== "" && start_element.value !== null)
                        params.set('start', start_element.value);
                    if (end_element.value !== "" && end_element.value !== null)
                        params.set('end', end_element.value);
                }
            }
        window.location.search = params.toString()
    }

    function _on_load() {
        const account_element = document.getElementById("id_account")
        account_element.addEventListener("change", function() {
                const account = account_element.value;
                if (account == null || account.trim() === "")
                    return;
                window.location.href = "/Account/report/" + account + "/";
                });

        const type_element = document.getElementById("id_type")
        if (type_element != null)
            type_element.addEventListener("change", report_data_changed)

        const year_element = document.getElementById("id_year")
        if (year_element != null)
            year_element.addEventListener("change", report_data_changed)

        const report_types = document.querySelectorAll("input[name='report_type']")
        for( const report_type of report_types)
            report_type.addEventListener("change", report_data_changed)

        const dates = document.querySelectorAll("input[type='date']")
        for( const date of dates)
            date.addEventListener("change", report_data_changed)

        const params = new URLSearchParams(window.location.search);
        if (params.get('type') !== 'flexible')
            return ;

        if (params.get('report_type') !== 'custom')
            document.getElementById("date_prompt").style.display = "none";
        else {
            document.getElementById("date_prompt").style.display = "block";
            if (params.get('start') !== null && params.get('start') === "")
                document.getElementById("id_start_date").value = params.get('start');
            if (params.get('end') !== null && params.get('emd') === "")
                document.getElementById("id_end_date").value = params.get('end');
        }
}
document.addEventListener('DOMContentLoaded', _on_load);
</script>
<div>
<label for="id_account">Account</label>
    <select id='id_account' name="account">
        <option value="">Bank Account ?</option>
        {% for account in accounts %}
            <option value="{{ account.id }}" {% if account.id == account_selection %}selected{% endif %}>{{ account }}</option>
        {% endfor %}
    </select>
</div>
{% if summary_types %}
    <div>
    <label for="id_type">Report Type</label>
    <select id='id_type' name="type">
        <option value="">Select report Type</option>
        {% for type_option in summary_types %}
            <option value="{{ type_option.0 }}" {% if type_option.0 == type %}selected{% endif %}>{{ type_option.1 }}</option>
        {% endfor %}
    </select>
    </div>
    {% if years %}
        <div>
        {{ year_selection }}
        <label for="id_year">Year</label>
        <select id='id_year' name="year">
            <option value="">Select Year to report on</option>
            {% for year in years %}
                <option value="{{ year.year }}" {% if year.year == year_selection %}selected{% endif %}>{{ year.year }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    {% if type == 'flexible' %}
        <div>
        <label for="id_radio_buttons">Date Range: </label>
            <div>
            {% if last_report_date %}
                <label for="id_from_last_report">From last Report: {{ last_report_date }}</label>
                <input type="radio" id="id_from_last_report" name="report_type" value="from_last`" {% if report_type == 'from_last' %} checked {% endif %}/>
                <label for="id_flexible_dates">Flexible_dates: </label>
                <input type="radio" id="id_flexible_dates" name="report_type" value="custom" {% if report_type == 'custom' %} checked {% endif %} />
            {% endif %}
            <div id="date_prompt" style="display:none">
                <label for="id_start_date">Start Date: </label>
                <input type="date" id="id_start_date" name="start_date" value='{{ default_start_date|date:"Y-m-d"}}'
                        {% if min_start_date %}min='{{ min_start_date|date:"Y-m-d"}}' {% endif %}
                       {% if max_start_date %}max='{{ max_start_date|date:"Y-m-d"}}' {% endif %}/>
                <label for="id_end_date">End Date: </label>
                <input type="date" id="id_end_date" name="end_date" value='{{ default_end_date|date:"Y-m-d"}}'
                        {% if min_end_date %}min='{{ min_end_date|date:"Y-m-d" }}' {% endif %}
                       {% if max_end_date %}max='{{ max_end_date|date:"Y-m-d" }}' {% endif %}/>
            </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if report %}
    {%  if warnings %}
        <div id="report_warnings">
            <h3>Warnings</h3>
            <ul class="warnings">
                {% for warning in warnings %}
                    <li> {{ warning }}</li>
                {% endfor %}
            </ul>
        </div>
    {%  endif %}
    <div id="report">
    {{ report | safe}}
    </div>
    {% if operations %}
    <div id="id_operations">
        {% for operation in operations %}
            <div class="operation">
            {% if operation.url %}
            <a {% if operation.type %}type="{{ operation.type }}"{% endif %}
                    href="{{ operation.url }}" >
                {% if operation.icon %}
                    <img height='1rem;' src="{{ operation.icon }}" alt="{{ operation.help }}" />
                {% endif %}
                {{ operation.name }}
                </a>
            {% else %}
                <b>{{ operation.name }}</b>
            {% endif %}
            </div>
        {% endfor  %}

    {% comment %}
        {% if save %}
        <a href='{% url "Account:report" account_id=account_selection %}?type={{ type_selection }}&year={{year_selection}}&save' >Save report to Google Drive</a>
        <br>
        {% endif %}
        {% endcomment %}
    </div>
    {% endif %}
{% endif %}

{% endblock %}