{% load settings_value from garage_sale_data %}
<div class="intro">
    <input type="hidden" name="marketer" value="{{marketer}}" />

    {{ marketer.trading_name }}, thank you for accepting the invite to the Craft Market.

    We greatly look forward to seeing you there.

    You will shortly receive an email with the full details of the event, as you will have seen on the previous screen.

    If you don't receive the email soon, please check your spam folder, or contact us at <a href="mailto:{{ settings_value.APPS_SETTINGS.CraftMarket.EmailFrom }}" >{{ settings_value.APPS_SETTINGS.CraftMarket.EmailFrom }}</a>
</div>


