{% extends "team_pages/templates_base.html" %}
{% load static %}

{% block PageScripts %}
    {{ block.super }}

    {%  endblock %}

{% block PageStyles %}
    {{ block.super }}
    <style>


    </style>
{% endblock %}

{% block detail %}
    {{  block.super }}
    {%  if not sub_list_data  %}
        Use the New button on the left to build your first craft Marketer entry.
    {% else %}
    <p>Use the grid to the left to select a craft Marketer, or the New button to add a new entry.
    <p>Use the Funnel icon to filter the entries based on a number of different criteria.</p>
    {% endif %}

    <div id="invite_popup" class="popup">
        <h3>Confirm Invite for <span class="name"></span></h3>

        Are you sure you want to invite <span class="name"></span> to the Craft Market?

        <div><label for="send_email">Invite with email</label><input type="checkbox" checked id="send_email"/></div>
        <div class="buttons">
            <span>
            <input type=button class='button cancel' value="Cancel">
            </span>
           <span>
            <input type=button class='button confirm' value="Invite">
           </span>
        </div>
    </div>

    <div id="confirm_popup" class="popup">
        <h3>Confirm attendance for <span class="name"></span></h3>

        Are you sure you want to Confirm <span class="name"></span> will attend the Craft Market?

        <div><label for="send_email">Confirm with email</label><input type="checkbox" checked id="send_email"/></div>
        <div class="buttons">
            <span>
            <input type=button class='button cancel' value="Cancel">
            </span>
           <span>
            <input type=button class='button confirm' value="Confirm Attendance">
           </span>
        </div>
    </div>

    <div id="reject_popup" class="popup">
        <h3>Confirm non-attendance for <span class="name"></span></h3>

        Are you sure you want to confirm <span class="name"></span> will not attend the Craft Market?

        <div class="buttons">
            <span>
            <input type=button class='button cancel' value="Cancel">
            </span>
           <span>
            <input type=button class='button confirm' value="Confirm non-Attendance">
           </span>
        </div>
    </div>
{% endblock %}