{% extends "team_pages/craft_market_base.html" %}
{% load static %}
{% load craftmarket_framework %}

{% block PageScripts %}
    {{ block.super }}

            <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
            let popup_element = document.getElementById('create-popup');
            let event_id = document.getElementById('tp_event_id').value;
            let cancel_path = __current_base_url('CraftMarket') + '/' + event_id + '/' + __params_as_url();
            let full_path = __current_base_url('CraftMarket') + '/' + event_id + '/create' + __params_as_url();

            _popup_element(null, popup_element, 'visible')

            popup_element.querySelector('#tp_cancel_form').addEventListener('click', function() {
                _popup_element(null, popup_element, 'hidden');
                window.location.href = cancel_path
            });

        } );
    </script>

    {%  endblock %}

{% block detail %}
    <div class="popup" id="create-popup">
    <h2>Creating a new Craft Marketer record</h2>
    <div>
        <form method="POST" >

        {% csrf_token %}
            <div class="form">
                {{ form.as_p }}
            </div>
        <div class="buttons">
            <input id='tp_cancel_form' class='button cancel' item_id="{{form.instance.event_id}}" type="button" value="Cancel this form.">
            <input id="tp_save_form"  class='button confirm' type="submit" value="Save and continue">
        </div>
    </form>
    </div>
{% endblock %}