{% extends "team_pages_base.html" %}
{% load team_page_tags %}
{% load static %}
{% load getattribute from team_page_tags %}
{% load lookup from team_page_tags %}
{% load get_action_icon from team_page_tags %}
{% load missing from team_page_tags %}

{% comment %}
This template is used by the team pages framework to provide a single look and feel
across all relevant data.
{% endcomment %}

{% block PageStyles %}
    {{ block.super }}
{% endblock %}

{% block PageScripts %}
    {{ block.super }}
<script type="text/javascript" src="{% static 'team_pages/js/framework.js' %}"></script>
    {%  endblock %}

{% block SnappableSections %}
    <div class="snappable-section">
<script>
    const allow_multiple = !!{{ allow_multiple|yesno:'true,false'}};
    const url_base = "{{ url_base | safe }}";

    const toolbar = new Map([
        {% for item in toolbar %}
           ['{{item.action}}', {'label':"{{ item.label}}",
                                'icon':"{{ item.icon | safe}}" } ]
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    ]);
    const actions = new Map([
    {% for key, data in actions.items %}
           ['{{key}}', { 'object':{% missing data 'object' 'true' %},
                         'label':"{{ data.label}}",
                         'icon':"{{ data.icon | safe}}" } ]
        {% if not forloop.last %},{% endif %}
    {% endfor %}
    ]);
    const fields = [
        {% for field in url_fields %}
           '{{ field | safe }}'
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    ]
</script>

{%  if event_id %}
    <input type="hidden" value="{{event_id}}" id="tp_event_id">
{% endif %}

<div id="id_item_list" class="sublist bordered">
    <!--ToDo - this span should be a div -->
    <span id="filter-pop-up">
        <h3>Filter records</h3>
        <hr>
            <ul id="ListOptions">
                {% for item in filters %}
                    {% if item.id == "--hr--" %}
                        <hr>
                    {% elif item.pair %}
                        <li><input
                                tp-fragment="{{item.fragment}}" tp-pair="tp_not_{{ item.id }}"
                                id = "tp_{{ item.id }}" type="checkbox" />
                        <label for="tp_{{ item.id }}">{{ item.label }}</label>
                        <li><input
                                tp-fragment="{{item.fragment.0}}Not{{ item.fragment|slice:"1:" }}"
                                tp-pair="tp_{{item.id}}"
                                id = "tp_not_{{ item.id }}" type="checkbox" />
                        <label for="tp_not_{{ item.id }}">Not {{ item.label }}</label>
                        <hr>
                    {% else %}
                        <li><input tp-fragment="{{item.fragment}}" id="tp_{{ item.id }}" type="checkbox" />
                        <label for="tp_{{ item.id }}">{{ item.label }}</label>
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="button" id="popup-button" onclick="cancel_filter_popup()" value="Cancel"/>
            <input type="button" id="popup-button" onclick="save_list_options()" value="Save"/>
    </span>

    <div id="id_al_toolbar" class="actions">
            {% for action in toolbar %}
                {% if action.action == 'create' %}
                    {% if can_create %}
                        <span id="tp-create" tp_action="create"><img  class="icon" alt='New' title="New Entry" src="{{ actions|get_action_icon:action.action }}" /></span>  <!-- New Icon -->
                    {%  endif %}
                {% else %}
                        <span id="tp-{{ action.action }}" tp_action="{{ action.action }}"><img  class="icon" alt='{{ action.label }}' title="{{action.label}}" src="{{ actions|get_action_icon:action.action }}" /></span>
                {% endif %}
            {%  endfor %}
            {%  if filters %}
                <span id ="tp-filters" ><img class=icon  alt='Filter' title='Filter records' src="{%  static 'GarageSale/images/icons/funnel-svgrepo-com.svg'%}" /> </span>
            {% endif %}
    </div>
    <table class="data_list" id="id_entry_list">
        <tr class="heading">
            {%  if allow_multiple %}
            <th class="heading SelectAll">
                <input type="checkbox" name="selectAll" id="selectAll" />
            </th>
            {% endif %}
            {%  for column, label in columns %}
            <th class="heading {{ column }}">
                {{ label | safe}}
            </th>
            {%  endfor  %}
            <th class="heading icons">
            </th>
        </tr>
        <tbody id="tp_item_list">
        {% for item in sub_list_data %}
            <tr class="data-row {% cycle 'odd' 'even' %}" tp_row_id="{{item.id}}">
                {%  if allow_multiple %}
                    <td class="call Select" tp_row_id="{{ item.id }}">
                        <input type="checkbox" id="select_{{ item.id }}" name="Select" value="{{ item.id }}" />
                    </td>
                {% endif %}
                {%  for column, label in columns %}
                        <td class="cell {{ column }}" tp_row_id="{{ item.id }}">
                            {{ item|getattribute:column }}
                        </td>
                {% endfor %}
                <td class="cell icons" tp_row_id="{{ item.id }}">
                    {{ item.allowed_actions }}
                    {% for action in item.allowed_actions %}
                        {{ action }}
                        {% if not action  %}
                            <br>
                        {% else %}
                            <span class='action' tp_row_id="{{item.id}}" tp_action="{{action}}" label="{{ actions|get_action_label:action}}">
                                <img class="icon" alt='{{action}}' title="{{actions|get_action_label:action }}" src="{{ actions|get_action_icon:action }}" />
                            </span>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="detail bordered">
    {% block detail %}
    {% endblock %}
    </div>
    </div>
{% endblock %}

