div.card.location  {

    div.address-and-map {
    margin-bottom: 1rem;
    display: flex;
    margin-top: 2rem;

        div.address {
            float: left;
            width: 40%;
        }

        div.premarked-map {
            float: left;
            width: 40%;

            div.map {
                max-height: 350px;
                height: 300px;
                width: 350px;
                }
        }
    }
}

h3 {
    margin-bottom:1rem;
}

div.form {
    margin-top: 1rem;
    padding-top: 0;
}