        div#buttons {
            display: flex;
            padding: 1rem;
            margin-left:0px;

            input[type=button] {
                border-radius: 15px;
                border: thin solid black;
                box-shadow: 2px 2px 2px black;
            }
            input[type=button]:last-child { margin-left: auto;}

            input#toggle_collapse[value="Collapse All"] {  box-shadow: inset 2px 2px 2px black;}
            input#toggle_edit:not([value="Edit"]) {  box-shadow: inset 2px 2px 2px black; background-color: red; }

        }

        div#Content {font-size:80%}

        div#transactions { width: 80%;}

        header {background-color: #ddd; font-weight: bold;font-size: 120%; border-bottom: 1px solid black;}

        table {
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            }

        table tr.row:last-child td {border-bottom: 1px solid black;}

        tr:not(.expanded).child  {display: none;}
        tr.parent:not(.expanded) > td:first-child {
            background: url("/static/GarageSale/images/icons/expand-down-double-svgrepo-com.svg") no-repeat center;
            background-size: 1.5rem 1.5rem;
        }

        tr.expanded.child {display: table-row;}
        tr.expanded.child:not(.summary) > td:nth-child(2) {
            background: url('/static/GarageSale/images/icons/corner-down-right-svgrepo-com.svg') no-repeat center;
                                                                background-size: 1rem 1rem; }
        tr.expanded.parent > td:first-child {
            background: url('/static/GarageSale/images/icons/expand-up-double-svgrepo-com.svg') no-repeat center;
            background-size: 1rem 1rem;
        }

        tr.odd {background-color: lightblue;}
        tr.even {background-color: white;}

        tr:not(.child) td {border-bottom: 1px dashed black; border-right: 1px dashed black;}
        tr.child.even, tr.child.odd {background-color: white}
        tr.child td {border:none}
        tr.child:has(+ tr:not(.child)) td {border-bottom: 1px double black;}
        tr.child td:nth-child(n+4):nth-child(-n+6){background-color:
                lightgray; border-right: 1px dashed black; border-bottom: 1px dashed black;}

        tr th {background-color: #ddd; font-weight: bold;font-size: 120%; border-bottom: 1px solid black;}
        th, td {padding: 0.5rem 0.5rem; border-right: 1px dashed black;}
        tr td.date {text-align: right;}


        tr:not(.child).editing {background-color: orangered;}
        tr.child.editing td:nth-child(n+3):nth-child(-n+5){background-color:
                orangered; border-right: 1px dashed black; border-bottom: 1px dashed black;}

        tr.child.summary td:nth-child(n+4) {background-color: whitesmoke; font-weight: bold;}
        tr.child.summary td:nth-child(n+4) {border-top: 4px double black; border-bottom: 4px double black;}

        .row_button {display: none;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2rem; height: 2rem;
            padding: 0 1rem;}

        .edit_button {
            background-image: url('/static/GarageSale/images/icons/edit-svgrepo-com.svg');}

        .revert_button {
            background-image: url('/static/GarageSale/images/icons/revert-svgrepo-com.svg');}

        .link_button {
            background-image: url('/static/GarageSale/images/icons/add-node-svgrepo-com.svg'); }

        .delete_button {
            background-image: url('/static/GarageSale/images/icons/delete-svgrepo-com.svg'); }

        tr.editing .edit_button {display:table-cell;
            background-image: url('/static/GarageSale/images/icons/save-svgrepo-com.svg');}

        tr.editing .revert_button {display: table-cell;}
        tr.editing.child .delete_button {display: table-cell;}
        tr:not(.editing) {
            .revert_button,
            .delete_button {display: none;} }

        div.step-links {
            position:fixed;
            bottom:10px;
            border: 1px solid black;
            border-radius: 1rem;
            padding: 1rem;
            display:flex;
            width:70%;
            justify-content: space-between;
        }

        div#delete-popup:not(.visible) {
            display: none;
        }
        div#delete-popup.visible {
            display: block;
            border: 1px solid black;
            border-radius: 20px;
            box-shadow: 2px 2px 5px black;
            width: max-content;
            padding: 0.5rem;
            position: absolute;
            background: whitesmoke;
        }

        div#delete-popup div.buttons {
            display: inline-flex;
            padding: 0.5rem;
            justify-content: space-between;
            width: 85%;
            margin:auto;
            border-radius: 15px;

            input[type=button] {
                border-radius: 25px;
                padding: 10px;
            }

            #delete-close {
                background-color: lightgreen;
            }

            #delete-confirm {
                background-color: orangered;
            }
        }