{% extends "location_view.html" %}
{% load static %}
{% load event_data_tags %}
{% load user_management_tags %}
{% load location_tags %}

{% block head-extra %}
    <script async
    src="https://maps.googleapis.com/maps/api/js?key={%  settings_value "GOOGLE_MAP_SETTINGS.API_KEY" %}&loading=async&libraries=places&libraries=marker&callback=initMaps">
</script>
    <script type="text/javascript" src="{% static 'DjangoGoogleMap/api/display_location.js' %}"></script>
{% endblock %}

    {% block PageStyles %}
        <link rel="stylesheet" href="{% static 'Location/styles/locations.css' %}">

        <style>
            div.address {
                float:left;
                width:40%;
            }
            div.premarked-map {
                float:left;
                width:40%;
            }

            dialog#location_detail {
                border: thin solid darkslategray;
                box-shadow: black 2px 2px 5px;
            }
            div#dialog_close{
                position: absolute;
                top: 5px;
                right: 5px;
                img {
                    height:20px;
                    width:20px;
                }
            }

        </style>


    {% endblock %}


    {%  block SnappableSections %}

        <dialog id="location_detail" class='card location' card_name="location_{{location.id}}" location_id="{{ location.ext_id }}">
                <h2>Location successfully recorded</h2>
                <div id="dialog_close">
                    <img  alt='close' src="{% static 'GarageSale/images/icons/close-circle-1-svgrepo-com.svg' %}" onclick="close_dialog( event)">
                </div>
                <div class='address-and-map'>
                <div class='address' >
                    <div class="location_type">
                        <div class="location_type_sale">Sale : {% location_type_icon location 'sale_event' %}</div>
                        <div class="location_type_ad_board">Ad Board : {% location_type_icon location 'ad_board' %}</div>
                    </div>
                    <div class="address-details">
                        {{location.house_number}}, {{location.street_name}}<br/>
                        {{location.town}}<br/>
                        {{location.postcode}}
                    </div>
                    {% if location.possible_duplicate %}
                        <div class="duplicate">This location is possibly duplicated</div>
                    {% endif %}
                </div>
                    <div class="premarked-map">
                        <div class="map" id="map_{{location.id}}" __lng_lat="{{ location.lng_lat }}"
                                __address="{{ location.house_number }}, {{ location.street_name }}">
                                <div class="map_wrapper" style="width: 100%; height:100%;"></div>
                        </div>
                    </div>

            </div>
        </dialog>

        <script type="text/javascript">

            function close_dialog(event) {
                const dialog = document.getElementById('location_detail');
                dialog.close();
                window.location.href = "{% url 'Location:view' %}";
            }

            function open_dialog() {
                const dialog = document.getElementById('location_detail');
                dialog.left = (window.innerWidth - dialog.offsetWidth)/ 2 + 'px';
                dialog.top = (window.innerHeight - dialog.offsetHeight)/ 2 + 'px';
                dialog.addEventListener('close', close_dialog);
                dialog.showModal();
            }

            function initMaps() {
                const maps = document.getElementsByClassName('map')
                for (let i = 0; i < maps.length; i++) {
                    const element = maps[i];
                        let this_map = new GoogleMap(element,
                            markers =  [{location:element.getAttribute("__lng_lat"), address:element.getAttribute("__address")}],
                            read_only = true,
                            google_map_id =  '{% settings_value "GOOGLE_MAP_SETTINGS.MAP_ID" %}' );
                        this_map.display()
                }
            }

            document.addEventListener('DOMContentLoaded', open_dialog);
        </script>
    {% endblock %}
