{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load location_tags %}

{% block head-extra %}
    <script src="{% static 'DjangoGoogleMap/api/display_location.js' %}"></script>
    <script type="text/javascript" src="{% static 'GarageSale/js/tooltip.js' %}"></script>
{% endblock %}


{% block PageStyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Location/styles/locations.css' %}">
        <link rel="stylesheet" href="{% static 'Location/styles/location_create.css' %}">
{% endblock %}

 {% block TopBar %}
    {% if on_behalf == None %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if on_behalf == None %}
        <div class="sidebar entry direct tooltip" item="{% url 'home' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'home' %}">
                <img class="sidebar icon" alt="Home Page" id='id_home_page' src={% static "GarageSale/images/icons/menu/home-svgrepo-com.svg" %} >
                <label for="id_team">Home Page</label></a>
                <span class="tooltiptext right arrow">Return to Home Page</span>
        </div>
           <div class="sidebar entry direct tooltip" item="{% url 'Location:view' %}" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'Location:view' %}">
                <img class="sidebar icon" alt="Return to Previous Page" id='id_back' src={% static "GarageSale/images/icons/menu/back-svgrepo-com.svg" %} location_view.html >
                <label for="id_team">Back to Previous Page</label></a>
                <span class="tooltiptext right arrow">Return to Previous Page</span>
        </div>
    {% endif %}
{%  endblock %}

{%  block SnappableSections %}
    {% include "widgets/create_location.html" %}
{% endblock %}