<!-- TODO Insert Attrs -->
<style>
    iframe#id_mapframe{
        height: 50%;
        width: 50%;
        }
</style>
<script>

    function set_frame_bind( frame) {
        const iframeDocument = frame.contentDocument || frame.contentWindow.document;
        const words_parent = document.getElementById('id_{{ widget.name }}_words');
        const words_frame = iframeDocument.getElementById('id_{{ widget.name }}_words_inframe');

        const coords_parent = document.getElementById('id_{{ widget.name }}_coords');
        const coords_frame = iframeDocument.getElementById('id_{{ widget.name }}_coords_inframe');

        words_frame.setAttribute("onchange",
            function (){ words_parent.value = words_frame.value;} );
        coords_frame.setAttribute("onchange",
            function (){ coords_parent.value = coords_frame.value;} );
    }
</script>

<input type=text name="{{ widget.name }}_words" id="id_{{ widget.name }}_words" hidden="True"/>
<input type=text name="{{ widget.name }}_coords" id="id_{{ widget.name }}_coords" hidden="True"/>

<iframe id="id_mapframe"
        onload="set_frame_bind(this)"
        src="{% url 'mapping:map' widget.name %}" >
</iframe>