<!DOCTYPE html>

<!-- Template for email to be sent to end user_management -->

<html>

{% load static %}
<link rel="stylesheet" href="{{ base_url }}{% static 'GarageSale/styles/style.css' %}">
<style>
    div.buttons {
        width: 75% ;
        margin: auto ;
        display:flex;
        align-items:center;}

    div.form {
    width:97%;margin:auto}

    div.form form input[type="submit"] {
        padding:0.5em 1em; font-size:150%;margin-left:auto;margin-right:auto;}

    div.center-text { text-align: center }

    a {
        font-weight: bold;
        text-decoration-line: underline;
    }

    a:hover {
        font-style: italic ;
    }
</style>

<body>
    <div style="padding:1em;">
        <div style="font-size:120%; font-weight:bold; width:100%; text-align:center; margin-bottom:1em">
            Thank you for applying for hosting a advertising board for the <a href="{{base_url}}">Brantham Garage Sale</a> website.
        </div>
    </div>
    {% if registered %}
        If you need to edit your application you can go to  <a href="{{base_url}}}{% url '\getInvolved' %}">Get Involved page</a>
    {% else %}
        <div style="width:50; text-align:center;margin-bottom:1em;">
        </div>
        <div class="form" >
            <form method="GET" action="{{ url }}">
                {% csrf_token %}
                <div class="buttons" >
                    <input type="submit" value="Edit My Application" >
                </div>
            </form>
                <div class="center-text">
                    If the button doesn't work (or isn't visible) you can use <a herf="{{url}}"> this link</a> to the same effect.
                </div>
            </div>
    {% endif %}
</body>
</html>