<div id="AboutUs" class="card" card_name="AboutUs">
        <h1>About the Garage Sale and the Foundation</h1>
        The Garage Sale has been running in Brantham since 2003 - initially to raise money for
        St Elizabeth's Hospice in Ipswich, specifically for the "Carla Dawson Memorial fund".
        In the following years the Garage Sale became a feature of village life, raising money for both the hospice
        and local good causes.
        In 2023 the organiser wanted to step aside, and it was clear that the work to organise the Sale event was beyond
        the
        scope of one person.
        <p>
            The foundation itself was created in October 2023, in order to ensure that the Garage Sale Event continued
            and
            that the fund-raising potential increased.
        <p>
            For the 2024 Sale the trustees added a very popular Craft Market, and prize Tombola to the event, and we
            have
            plans to expand the 2025 sale even more.
    </div>
