    <div id="ContactUs" class="card" card_name="contact">
        <h1>Contact Us</h1>
        As of 1st January 2026, our contact details have changed :
        <ul>
            <li>Trustees : <a href="mailto:Trustees@BranthamGarageSale.org.uk">Trustees@BranthamGarageSale.org.uk</a>
            </li>
            <li>Sponsorship : <a href="mailto:Sponsorship@BranthamGarageSale.org.uk">Sponsorship@BranthamGarageSale.org.uk</a>
            </li>
            <li>CraftMarket : <a href="mailto:CraftMarket@BranthamGarageSale.org.uk">CraftMarket@BranthamGarageSale.org.uk</a>
            </li>
            <li>Website : <a href="mailto:Website@BranthamGarageSale.org.uk">Website@BranthamGarageSale.org.uk</a></li>
        </ul>

        You can also contact us via Facebook :

        Please take note of the new addresses above - and use them for

    </div>
