    <div id="ContactUs" class="card" card_name="contact">
         <h1>Contact Us</h1>

        <div class="panel">
            <div id="Nominate a good cause">
                <h3>Nominate a good cause</h3>
                Every year approximately In September we pick a good cause to fund-raise for next year.
                To be eligible the good cause must have some benefit to the community or residents of Brantham.
                <p>
                    That good cause will get 50% of all of the funs we raise during that years campaign, while
                    the other 50% will go to St Elizabeth's Hospice in Ipswich.
                </p>
                <div class="buttons">
                <input type="button" onclick="document.location.replace('{% url 'NominationCreate' %}')" value="Nominate a good cause">
                </div>
            </div>
            <div id="email">
                <h3>Emails </h3>
                You can contact us by email :

                    <p>For general communications about the event: <a href="mailto:Trustees@BranthamGarageSale.org.uk">Trustees@BranthamGarageSale.org.uk</a>
                    </p>
                    <p>For questions about and offers of sponsorship: <a href="mailto:Sponsorship@BranthamGarageSale.org.uk">Sponsorship@BranthamGarageSale.org.uk</a>
                    </p>
                    <p>For bookings and queries about the Craft-Market: <a href="mailto:CraftMarket@BranthamGarageSale.org.uk">CraftMarket@BranthamGarageSale.org.uk</a>
                <p>
                Please do not email us on the website email address - that inbox is not monitored.
            </div>
            <div id="socials">
                <h3>Social Media</h3>
                    <p>Our facebook group: <a class='fa-facebook' href="https://www.facebook.com/groups/branthamgaragesale">Brantham
                        Garage Sale
                        group </a></p>
                    <p>Our Instagram account : <a class='fa-instagram' href="https://www.instagram.com/branthamgaragesale/">Brantham Garage
                        Sale on Instagram</a></p>
            </div>
        </div>

    </div>
