    <div id="Sponsors" class="card" card_name="sponsors">
        <h1>Our Generous Sponsors</h1>
        A number of very generous local companies have sponsored the Garage Sale this year, either with a cash donation
        or
        with donations of vouchers or prizes to our prize Tombola. Not only do these sponsors allow us to cover the
        costs of
        advertising the event and much else besides, they allow us to ensure that every single penny raised by the Sales
        events can be donated to the Hospice and local good causes.<br>
        <script type="text/javascript" src='https://unpkg.com/blaze-slider@latest/dist/blaze-slider.min.js'></script>

        <div class="blaze-slider">
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        {% for sponsor in request.current_event.sponsors.all %}
                            <div>
                                <img class="sponsor-logo" alt="{{ sponsor.company_name }}"
                                     src="{{ MEDIA_URL }}{{ sponsor.logo }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button name="Full Sponsors List" alt="View full list of sponsors"
                    onclick="document.location.replace({% url 'sponsors:sponsor_list' %})">Full Sponsor List
            </button>
        </div>
        <script type="text/javascript">

            const el = document.querySelector('.blaze-slider');
            new BlazeSlider(el, {
                    all: {
                        enableAutoplay: true,
                        autoplayInterval: 2500,
                        transitionDuration: 250,
                        width: '128px',
                        slidesToShow: 5,
                    },
                    '(max-width: 900px)': {
                        width: '64px;',
                        slidesToShow: 3,
                    },
                    '(max-width: 400px)': {
                        slidesToShow: 2,
                    }

                }
            );
        </script>
    </div>
