{% extends "_snap_slider_base.html" %}
{% load static %}
{% load user_management_tags %}
{% load event_data_tags %}
{% load sponsor_tags %}

{% block Title %}
Brantham Garage Sale - Our Sponsors
{% endblock %}
{% block PageHeading %}Brantham Garage Sale - Our Sponsors{% endblock %}

{% block PageStyles %}
<link rel="stylesheet" href="{% static 'Sponsors/styles/sponsor_style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block header %}
<div class="introduction">
<h1>Our Sponsors</h1>

These wonderful local companies support the Garage Sale by donating money and other resources, allowing us to ensure that
100% of the money you donate from your sale events can go to charity.
</div>
{% endblock %}
{% block sidebar %}
            <div class="sidebar entry direct tooltip" item="Homepage" xmlns="http://www.w3.org/1999/html">
            <a href="{% url 'home' %}">
                <img class="sidebar icon" alt="Home Page" id='id_home_page' src={% static "GarageSale/images/icons/menu/home-svgrepo-com.svg" %} />
                <label for="id_team">Home Page</label></a>
                <span class="tooltiptext right arrow">Return to Home Page</span>
            </div>
            {% for sponsor in sponsors %}
                <div class="sidebar entry bullet" item="sponsor_{{ sponsor.id }}">
                    &#9675;
                </div>
            {% endfor %}

{% endblock %}

{% block SnappableSections %}
    {% for item in sponsors %}
    <div class="card sponsor" card_name="sponsor_{{ item.id }}">
        <div class="name">
            {{item.company_name}}
        </div>
        <div class="details">
            <div class="image">
                <img src="{{ MEDIA_URL }}{{item.logo}}" class="logo">
            </div>
            <div class="description">
                {{item.description | safe}}
            </div>
        </div>
        <div class="contact">
            <div style="float:left;">
                <div class="phone" >
                    <img src="{% static 'GarageSale/images/icons/phone-calling-svgrepo-com.svg' %}"/>
                    <b>Phone</b> : {{item.phone}}
                </div>
                <div class="email" >
                    <img src="{% static 'GarageSale/images/icons/email-open-svgrepo-com.svg' %}"
                    <b>Email</b> : <a href="mailto:{{item.email}}">{{item.email}}</a>
                </div>
            </div>
            <div class="icons">
                {% for social in socials %}
                    {% social_media_link item social %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% empty %}
        No Sponsors Recorded as yet
    {% endfor %}
{% endblock %}
