{% extends "sponsors/tp_event_sponsor.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}
{% load sponsor_tags %}

{% block detail %}
<div class="detail bordered">

    <h3>Deleting sponsorship lead from '{{company_name}}'</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="buttons">
            <input id='tp_cancel_form' item_id="{{form.instance.event_id}}" type="button" value="Cancel">
            <input id="tp_save_form"  type="submit" value="Confirm Deletion of this sponsorship lead">
        </div>
    </form>
</div>
{% endblock %}