{% extends "sponsors/tp_event_sponsor.html" %}
{% load static %}
{% load user_management_tags %}
{% load team_page_tags %}
{% load sponsor_tags %}

{%  block PageStyles %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'Sponsors/styles/sponsor_style.css' %}">
{% endblock %}

{% block detail %}
<div class="detail bordered">
    <script>
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function(){
              var output = document.getElementById('output_image');
              var span = document.getElementById('id_preview');
              span.style.display='inline-block';
              output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <form method="POST" enctype='multipart/form-data'>
        {% if form.instance.confirmed == False %}
        <div class="warning">
            Not Confirmed
        </div>
        {% endif %}
        {% csrf_token %}
        <div>
            {{ form.non_field_errors }}
        </div>
        <div id="tp_sponsor_core">
            <div class="name">
                <div class="errorlist">
                    {{ form.company_name.errors }}
                </div>
                <label for="id_company_name">Company Name</label>{{form.company_name}}
            </div>
            <div class="lead_provider">
                <b>{{ form.lead_provider.label }}</b>
                    {%  if action == "create" %}
                            {{ request.user.full_name }}
                    {% elif form.lead_provider %}
                            {{  form.instance.lead_provider.full_name }}
                    {%  else %}
                            Unknown User
                    {% endif %}
            </div>
        <hr>
                <div class="image edit">

                    {% if form.instance.logo != ''%}
                        <span><label for="tp_current_logo">Current Logo</label><img id='id_current_logo' alt="{{form.company_name.logo}}"src="{{MEDIA_URL}}{{form.instance.logo}}" /></span>
                    {% endif %}

                    <div class="edit-logo">
                        <span class="clear-logo">
                        <label for="id_logo_clear">Clear</label>
                        <input type="checkbox" name="logo-clear" id="id_logo_clear">
                        </span>
                        <span class="change-logo">
                        <label for="id_logo">Change</label>
                        <input type="file" onchange="preview_image(event)" name="logo" accept="image/*" id="id_logo">
                        <span id="id_preview" style="display:none;">Preview : <img id="output_image" height=50px width=50px\></span>
                        </span>
                    </div>
                </div>
        <hr>
                <table class="inner">
                    <tr class="description">
                        <div class="errorlist">
                            {{ form.description.errors }}
                        </div>

                        <th><label for="id_description">Description</label></th>
                        <td>{{form.description | safe}}</td>
                    </tr>
                    <tr class="gift">
                        <div class="errorlist">
                            {{ form.gift.errors }}
                        </div>
                        <th><label for="id_gift">Gift</label></th>
                        <td>{{form.gift | safe }}</td>
                    </tr>
                    </table>
                <hr>
            <div class="contact">
                <div class="phone" >
                        <img alt='Phone' src="{% static 'GarageSale/images/icons/phone-calling-svgrepo-com.svg' %}" />
                    <b>Phone</b> : {{form.phone}}
                </div>
                <div class="email" >
                        <img alt='Email' src="{% static 'GarageSale/images/icons/email-open-svgrepo-com.svg' %}" />
                    <b>email</b> : {{form.email}}
                </div>
                <div class="icons">
                    {% for social in socials %}
                        <div class="social">
                            <span id="id_social_label" class="social_entry"><label id="id_{{ social }}_link">{{social}}</label></span>
                            <span id="id_social_icon" class="social_entry">{% get_social_icon social %}</span>
                            <span id="id_social_link" class="social_entry">{% get_form_field form social %}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        <hr>
            <div class="buttons">
            {% block buttons %}
                <input id='tp_cancel_form' item_id="{{form.instance.event_id}}" type="button" value="Cancel">
                <input id="tp_save_form"  type="submit" value="Save this entry">
            {% endblock %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
